{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-video-grid
    class="my-4"
    :cols="3"
    :videos="[
        {
            video: 'https://www.youtube.com/watch?v=GOAEIMx39-w',
            title: 'Lorem ipsum',
            content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore <a href=https://www.billmysales.com/>magna aliqua.</a>',
            buttonText: 'Learn more',
            buttonUrl: '#'
        },
        {
            video: 'https://www.youtube.com/watch?v=GOAEIMx39-w',
            title: 'Lorem ipsum',
            content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            buttonText: 'Learn more',
            buttonUrl: ''
        },
        {
            video: 'https://www.youtube.com/watch?v=GOAEIMx39-w',
            title: 'Lorem ipsum',
            content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            buttonText: 'Learn more',
            buttonUrl: '#'
        }
    ]"
/>

<twig:block-video-grid
    class="my-4"
    :cols="2"
    :videos="[
        {
            video: 'https://www.youtube.com/watch?v=GOAEIMx39-w'
        },
        {
            video: 'https://www.youtube.com/watch?v=GOAEIMx39-w'
        }
    ]"
/>

<twig:block-video-grid
    class="my-4"
    :cols="1"
    :videos="[
        {
            video: 'https://www.youtube.com/watch?v=GOAEIMx39-w'
        }
    ]"
/>

{% endblock %}
