{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-comparison
    class="my-4"
    :plans="[
        {
            title: 'Alpha Plan',
            price: '$20<small>.000</small>',
            period: '/month',
            features: [
                {
                    text: 'Up to <b>500</b> monthly receipts',
                    tooltip: 'Monthly limit for issuing or synchronizing electronic honorarium receipts (EHR).'
                },
                {
                    text: 'Allows other users',
                    value: false
                },
                {
                    text: 'API issuance',
                    value: true
                }
            ],
            note: 'Recommended for accountants or doctors.',
            buttonText: 'Sign up',
            buttonUrl: 'https://bhexpress.cl/usuarios/registrar?plan=alfa'
        },
        {
            title: 'Beta Plan',
            price: '$40<small>.000</small>',
            period: '/month',
            features: [
                {
                    text: 'Up to <b>2,000</b> monthly receipts'
                },
                {
                    text: 'Up to <b>2 users</b> can work with the issuer'
                },
                {
                    text: 'API issuance',
                    value: true
                }
            ],
            note: 'Recommended for professional societies.',
            buttonText: 'Sign up',
            buttonUrl: 'https://bhexpress.cl/usuarios/registrar?plan=beta',
            highlighted: true
        },
        {
            title: 'Gamma',
            price: '$ 80<small>.000</small>',
            period: '/ month',
            features: [
                {
                    text: 'Up to <b>5,000</b> monthly receipts'
                },
                {
                    text: 'Up to <b>3 users</b> can work with the issuer'
                },
                {
                    text: 'API issuance',
                    value: true
                }
            ],
            note: 'Recommended for notaries.',
            buttonText: 'Sign up',
            buttonUrl: 'https://bhexpress.cl/usuarios/registrar?plan=gamma'
        }
    ]"
/>

<twig:block-comparison
    class="my-4"
    :plans="[
        {
            title: 'Android',
            priceIcon: 'fa-brands fa-android fa-2x',
            features: [
                {
                    text: 'Use the application with multiple <a href=\'https://www.example.com/\' target=\'_blank\'>companies</a>'
                },
                {
                    text: 'Issue receipts, invoices and shipping guides'
                },
                {
                    text: 'Easy receipt and retail point of sale'
                }
            ],
            note: 'Turn your Android device into a Point of Sale.',
            buttonText: 'Install from Google Play up to Android 9',
            buttonUrl: '#'
        },
        {
            title: 'iOS',
            priceIcon: 'fa-brands fa-apple fa-2x',
            features: [
                {
                    text: 'Use the application with multiple companies'
                },
                {
                    text: 'Issue receipts, invoices and shipping guides'
                },
                {
                    text: 'Easy receipt and retail point of sale'
                }
            ],
            note: 'Check your company and issue tax documents easily.',
            buttonText: 'Install from App Store',
            buttonUrl: '#',
            highlighted: true
        }
    ]"
/>

{% endblock %}
