{% extends 'layouts/default.html.twig' %}

{% block content %}
{% for theme, name in themes %}
    <twig:block-title
        title="Theme: {{ name }}"
        subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href=https://derafu.org/>Link</a>"
        bottomBorder="true"
        margin_bottom="4"
    />
{% endfor %}
{% endblock %}