{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-card
    class="my-4"
    image="../../img/block-hero.jpeg"
    title="Card"
    content="Lorem ipsum dolor sit amet, consectetur <a href='https://www.example.com/' target='_blank'>adipiscing elit.</a>"
    buttonText="More..."
    buttonUrl="https://www.example.com/"
/>

{% endblock %}
