{% extends 'layouts/default.html.twig' %}

{% block content %}
{% for theme, name in themes %}
    <twig:block-quote
        class="mt-5"
        quote="Lorem ipsum dolor sit amet, consectetur adipiscing <a href=https://derafu.org/>elit</a>."
        author="John Doe"
        source="Theme: {{ name }}"
        image="../../img/block-hero.jpeg"
    />
{% endfor %}

{# Ejemplo con m치rgenes individuales #}
<twig:block-quote
    class="my-5"
    quote="Otra cita de ejemplo con m치rgenes personalizados."
    author="Jane Smith"
    source="<a href=https://derafu.org/>Ejemplo de cita</a>"
/>

{# Ejemplo sin m치rgenes #}
<twig:block-quote
    class="mb-5"
    quote="Una cita sin m치rgenes especiales."
    author="Anonymous"
/>
{% endblock %}