{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-title
    class="my-4"
    title="Title"
    subtitle="Lorem ipsum dolor sit amet, consectetur <a href='https://www.example.com/' target='_blank'>adipiscing elit.</a>"
/>

<twig:block-title
    class="my-4"
    title="Title"
    subtitle="Lorem ipsum dolor sit amet, consectetur <a href='https://www.example.com/' target='_blank'>adipiscing elit.</a>"
    :border="true"
/>

{% endblock %}
