{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-quote
    class="my-4"
    content="Lorem ipsum dolor sit amet, consectetur adipiscing <a href='https://www.example.com/' target='_blank'>elit</a>."
    author="John Doe"
    note="Quote"
    image="../../img/block-hero.jpeg"
/>

{# Example with individual margins #}
<twig:block-quote
    class="my-4"
    content="Another example quote with custom margins."
    author="Jane Smith"
    note="<a href='https://www.example.com/' target='_blank'>Quote example</a>"
/>

{# Example without margins #}
<twig:block-quote
    class="my-4"
    content="A quote without special margins."
    author="Anonymous"
/>

{% endblock %}
