{% extends 'layouts/default.html.twig' %}

{% block content %}
<twig:block-text-image
    image="{{ base_path }}/img/block-hero.jpeg"
    title="Lorem ipsum dolor sit amet"
    content="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada tellus velit, in fringilla turpis interdum aliquet. Donec eget neque sit amet orci gravida eleifend.</p><p>Fusce aliquet tempus gravida. Nam ullamcorper libero ac velit pharetra, in volutpat sem vulputate. Integer quis suscipit nibh, non tempor enim. Nulla ipsum leo, vulputate nec dolor nec, aliquet porttitor nibh. Donec maximus tellus vitae ornare dignissim.</p>"
    :buttons="[
        {
            text: 'Derafu ORG',
            url: 'https://www.derafu.org'
        },
        {
            text: 'Example.com',
            url: 'https://www.example.com'
        }
    ]"
/>
<twig:block-text-image
    image="{{ base_path }}/img/block-hero.jpeg"
    title="Lorem ipsum dolor sit amet"
    content="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada tellus velit, in fringilla turpis interdum aliquet. Donec eget neque sit amet orci gravida eleifend.</p><p>Fusce aliquet tempus gravida. Nam ullamcorper libero ac velit pharetra, in volutpat sem vulputate. Integer quis suscipit nibh, non tempor enim. Nulla ipsum leo, vulputate nec dolor nec, aliquet porttitor nibh. Donec maximus tellus vitae ornare dignissim.</p>"
    :buttons="[
        {
            text: 'Example.com',
            url: 'https://www.example.com'
        }
    ]"
    image_position="left"
    theme="earthstone"
/>
{% endblock %}
