{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-header
    class="mt-0"
    logoImage="../../img/block-hero.jpeg"
    logoText="<span class='fw-normal'>Soft</span><span class='fw-bold text-primary'>ware</span>"
    :leftNav="[
        {
            text: 'Home',
            url: '#'
        },
        {
            text: 'Solutions',
            icon: 'fa-solid fa-cubes',
            items: [
                {
                    text: 'Basic Solution',
                    icon: 'fa-solid fa-star',
                    url: '#'
                },
                {
                    type: 'divider'
                },
                {
                    text: 'Advanced Solution',
                    icon: 'fa-solid fa-rocket',
                    items: [
                        {
                            text: 'Main Features',
                            url: '#'
                        },
                        {
                            icon: 'fa-solid fa-chart-line',
                            text: 'Analysis',
                            url: '#'
                        },
                        {
                            type: 'divider'
                        },
                        {
                            icon: 'fa-solid fa-book-open',
                            text: 'Complete Guide',
                            url: '#'
                        }
                    ]
                }
            ]
        }
    ]"
    :rightNav="[
        {
            text: 'Resources',
            url: '#',
            icon: 'fa-solid fa-toolbox'
        },
        {
            text: 'Integrations',
            icon: 'fa-solid fa-plug',
            items: [
                {
                    text: 'Platforms',
                    icon: 'fa-solid fa-desktop',
                    url: '#'
                },
                {
                    text: 'API',
                    icon: 'fa-solid fa-code',
                    url: '#'
                }
            ]
        }
    ]"
    ctaIcon="fa-solid fa-rocket"
    ctaText="Get Started"
    ctaUrl="#"
/>

<twig:block-header
    class="my-4"
    logoImage="../../img/block-hero.jpeg"
    logoText="<span class='fw-normal'>Another</span><span class='fw-bold text-primary'>Example</span>"
    :leftNav="[
        {
            text: 'Marketplace',
            icon: 'fa-solid fa-shopping-cart',
            sections: [
                {
                    title: 'Technology',
                    links: [
                        {
                            text: 'Software',
                            url: '#',
                            icon: 'fa-solid fa-laptop-code'
                        },
                        {
                            text: 'Hardware',
                            url: '#',
                            icon: 'fa-solid fa-server'
                        }
                    ]
                }
            ]
        }
    ]"
    ctaText="Explore"
    ctaUrl="#"
/>

{% endblock %}
