{% extends 'layouts/default.html.twig' %}

{% block content %}
    <twig:block-cta
        class="my-5"
        title="Lorem ipsum dolor sit amet"
        description="Lorem ipsum dolor sit amet, consectetur <a href=https://derafu.org/>adipiscing elit.</a>"
        button_text="Más información"
        button_url="https://www.example.com"
    />
{% endblock %}
