{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-timeline
    class="my-4"
    linePosition="center"
    :events="[
        {
            date: '2023-06-15',
            title: 'Official Partnership',
            content: 'We become Official Odoo Partner in Chile.',
            icon: 'fa-solid fa-handshake fa-fw'
        },
        {
            date: '2022-11',
            title: 'International Expansion',
            content: 'We started receiving requests from clients outside Chile.',
            icon: 'fa-solid fa-globe fa-fw'
        },
        {
            date: '2022-06',
            title: 'International Project',
            content: 'Product development for clients outside Chile.',
            icon: 'fa-solid fa-globe fa-fw'
        },
        {
            date: '2021-05',
            title: 'New Products',
            content: 'Creation of BHExpress, ContaFi and <a href=https://www.billmysales.com>BillMySales</a>.',
            icon: 'fa-solid fa-briefcase fa-fw'
        }
    ]"
/>

<twig:block-timeline
    class="my-4"
    linePosition="left"
    :events="[
        {
            date: '2023-06-15',
            title: 'Official Partnership',
            content: 'We become Official Odoo Partner in Chile.',
            icon: 'fa-solid fa-handshake fa-fw'
        },
        {
            date: '2022-11',
            title: 'International Expansion',
            content: 'We started receiving requests from clients outside Chile.',
            icon: 'fa-solid fa-globe fa-fw'
        },
        {
            date: '2022-06',
            title: 'International Project',
            content: 'Product development for clients outside Chile.',
            icon: 'fa-solid fa-globe'
        },
        {
            date: '2021-05',
            title: 'New Products',
            content: 'Creation of BHExpress, ContaFi and BillMySales.',
            icon: 'fa-solid fa-briefcase'
        }
    ]"
/>

<twig:block-timeline
    class="my-4"
    linePosition="right"
    :events="[
        {
            date: '2023-06-15',
            title: 'Official Partnership',
            content: 'We become Official Odoo Partner in Chile.',
            icon: 'fa-solid fa-handshake'
        },
        {
            date: '2022-11',
            title: 'International Expansion',
            content: 'We started receiving requests from clients outside Chile.',
            icon: 'fa-solid fa-globe'
        },
        {
            date: '2022-06',
            title: 'International Project',
            content: 'Product development for clients outside Chile.',
            icon: 'fa-solid fa-globe fa-fw'
        },
        {
            date: '2021-05',
            title: 'New Products',
            content: 'Creation of BHExpress, ContaFi and BillMySales.',
            icon: 'fa-solid fa-briefcase fa-fw'
        }
    ]"
/>

{% endblock %}
