{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-features-list
    class="my-4"
    :featuresLeft="[
        {
            icon: 'fa-solid fa-laptop fa-fw',
            title: 'Aplicación <a href=\'https://www.example.com/\' target=\'_blank\'>Web.</a>',
            content: 'Con emisión de documentos en forma individual y <a href=\'https://www.example.com/\' target=\'_blank\'>masiva.</a>'
        },
        {
            icon: 'fa-solid fa-chart-line fa-fw',
            title: 'Reportes',
            content: 'Gráficos y estadísticas para visualizar tus datos de manera sencilla.'
        },
        {
            icon: 'fa-solid fa-cogs fa-fw',
            title: 'Configuración',
            content: 'Personaliza la aplicación según tus necesidades específicas.'
        }
    ]"
    :featuresRight="[
        {
            icon: 'fa-solid fa-cubes fa-fw',
            title: 'Productos y Servicios',
            content: 'Codifica tus productos y servicios para emitir rápidamente y sin errores.'
        },
        {
            icon: 'fa-solid fa-cloud-download fa-fw',
            title: 'Respaldo',
            content: 'Descarga tus datos cada vez que los requieras.'
        },
        {
            icon: 'fa-solid fa-shield fa-fw',
            title: 'Seguridad',
            content: 'Tus datos están protegidos con los más altos estándares de seguridad.'
        }
    ]"
/>

{% endblock %}
