{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-image
    class="my-4"
    title="What is Twig?"
    image="{{ base_path }}/img/block-hero.jpeg"
    content="A <a href='https://www.example.com/' target='_blank'>small branch</a>."
    :buttons="[
        {
            text: 'Learn about Twig',
            url: 'https://twig.symfony.com/'
        }
    ]"
/>

<twig:block-image
    class="my-4"
    size="small"
    title="What is <a href='https://www.example.com/' target='_blank'>Twig</a>?"
    image="{{ base_path }}/img/block-hero.jpeg"
    content="A small branch"
    :buttons="[
        {
            text: 'Learn about Twig',
            url: 'https://twig.symfony.com/'
        }
    ]"
/>

{% endblock %}
