{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-steps
    class="my-4"
    :steps="[
        {
            icon: 'fa-solid fa-list',
            title: 'Test Set',
            content: 'Standard DTE documents requested by the <a href=\'https://www.sii.cl/factura_electronica/factura_mercado/menu_certificacion.html\' target=\'_blank\'>SII</a> are sent for validation.'
        },
        {
            icon: 'fa-solid fa-file-lines',
            title: 'Simulation',
            content: 'Real DTE examples that the company will issue in production are sent to the SII.'
        },
        {
            icon: 'fa-solid fa-arrows-left-right',
            title: 'Exchange',
            content: 'XML files associated with the response to a DTE exchange are sent to the SII.'
        },
        {
            icon: 'fa-solid fa-file-pdf',
            title: 'PDF Samples',
            content: 'PDFs of all DTE documents from the test set and simulation are sent to the SII. <a href=\'#\' class=\'btn btn-primary\'>Link</a>'
        }
    ]"
    arrowType="straight"
/>

<twig:block-steps
    class="my-4"
    :steps="[
        {
            icon: 'fa-solid fa-list',
            title: 'Test Set',
            content: 'Standard DTE documents requested by the <a href=\'https://www.sii.cl/factura_electronica/factura_mercado/menu_certificacion.html\' target=\'_blank\'>SII</a> are sent for validation.'
        },
        {
            icon: 'fa-solid fa-file-lines',
            title: 'Simulation',
            content: 'Real DTE examples that the company will issue in production are sent to the SII.'
        },
        {
            icon: 'fa-solid fa-arrows-left-right',
            title: 'Exchange',
            content: 'XML files associated with the response to a DTE exchange are sent to the SII.'
        },
        {
            icon: 'fa-solid fa-file-pdf',
            title: 'PDF Samples',
            content: 'PDFs of all DTE documents from the test set and simulation are sent to the SII.'
        }
    ]"
/>

<twig:block-steps
    class="my-4"
    :steps="[
        {
            icon: 'fa-solid fa-list',
            title: 'Test Set',
            content: 'Standard DTE documents requested by the <a href=\'https://www.sii.cl/factura_electronica/factura_mercado/menu_certificacion.html\' target=\'_blank\'>SII</a> are sent for validation.'
        },
        {
            icon: 'fa-solid fa-arrows-left-right',
            title: 'Exchange',
            content: 'XML files associated with the response to a DTE exchange are sent to the SII.'
        },
        {
            icon: 'fa-solid fa-file-pdf',
            title: 'PDF Samples',
            content: 'PDFs of all DTE documents from the test set and simulation are sent to the SII.'
        }
    ]"
    arrowType="straight"
/>

<twig:block-steps
    class="my-4"
    :steps="[
        {
            icon: 'fa-solid fa-list',
            title: 'Test Set',
            content: 'Standard DTE documents requested by the <a href=\'https://www.sii.cl/factura_electronica/factura_mercado/menu_certificacion.html\' target=\'_blank\'>SII</a> are sent for validation.'
        },
        {
            icon: 'fa-solid fa-arrows-left-right',
            title: 'Exchange',
            content: 'XML files associated with the response to a DTE exchange are sent to the SII.'
        },
        {
            icon: 'fa-solid fa-file-pdf',
            title: 'PDF Samples',
            content: 'PDFs of all DTE documents from the test set and simulation are sent to the SII.'
        }
    ]"
/>

{% endblock %}
