{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-features-grid
    class="my-4"
    :blocks="[
        {
            title: 'Lorem',
            subtitle: 'First block subtitle',
            features: [
                {
                    icon: 'fa-solid fa-cloud',
                    title: 'Feature 1',
                    content: 'Content of <a href=\'https://www.example.com/\' target=\'_blank\'>feature 1.</a>'
                },
                {
                    icon: 'fa-solid fa-cog',
                    title: 'Feature 2',
                    content: 'Content of feature 2.'
                },
                {
                    icon: 'fa-solid fa-users',
                    title: 'Feature 3',
                    content: 'Content of feature 3.'
                }
            ]
        },
        {
            title: 'Ipsum',
            subtitle: 'Subtitle of the second <a href=\'https://www.example.com/\' target=\'_blank\'>block</a>.',
            features: [
                {
                    icon: 'fa-solid fa-star',
                    title: 'Feature 1',
                    content: 'Content of feature 1.'
                },
                {
                    icon: 'fa-solid fa-heart',
                    title: 'Feature <a href=\'https://www.example.com/\' target=\'_blank\'>2</a>',
                    content: 'Content of feature 2.'
                },
                {
                    icon: 'fa-solid fa-bell',
                    title: 'Feature 3',
                    content: 'Content of feature 3.'
                }
            ]
        }
    ]"
/>

{% endblock %}
