{% extends 'layouts/default.html.twig' %}

{% block content %}
<twig:block-image
    title="¿Qué es Twig?"
    image="{{ base_path }}/img/block-hero.jpeg"
    description="<p>Una ramita. <a href=https://derafu.org/>Link</a></p>"
    :buttons="[
        {
            text: 'Aprende sobre Twig',
            url: 'https://twig.symfony.com/'
        }
    ]"
/>
<twig:block-image
    title="¿Qué es Twig?"
    image="{{ base_path }}/img/block-hero.jpeg"
    description="<p>Una ramita.</p>"
    :buttons="[
        {
            text: 'Aprende sobre Twig',
            url: 'https://twig.symfony.com/'
        }
    ]"
    size="small"

/>
{% endblock %}
