{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-box
    class="rounded"
    title="Box with rounded corners"
    content='Lorem ipsum dolor sit amet, consectetur adipiscing <a href="https://www.example.com/" target="_blank">elit</a>.'
/>

<twig:block-box
    title="Box without rounded corners"
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
/>

<twig:block-box
    title="Box without content"
/>

{% endblock %}
