{% extends 'layouts/default.html.twig' %}

{% block content %}
    <twig:block-cta
        title="Lorem ipsum dolor sit amet"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href=https://derafu.org/>Link</a>"
        button_text="Más información"
        button_url="https://www.example.com"
        margin_top="2"
        margin_bottom="3"
    />
{% endblock %}
