{% extends 'layouts/default.html.twig' %}

{% block content %}
<twig:block-timeline
    class="mt-5"
    :events="[
        {
            date: '2023-06-15',
            title: 'Partnership Oficial',
            description: 'Nos volvemos Partner Oficial de Odoo en Chile.',
            icon: 'fa-solid fa-handshake'
        },
        {
            date: '2022-11',
            title: 'Expansión Internacional',
            description: 'Empezamos a recibir solicitudes de clientes fuera de Chile.',
            icon: 'fa-solid fa-globe'
        },
        {
            date: '2022-06',
            title: 'Proyecto Internacional',
            description: 'Desarrollo de producto para clientes fuera de Chile.',
            icon: 'fa-solid fa-globe'
        },
        {
            date: '2021-05',
            title: 'Nuevos Productos',
            description: 'Creación de BHExpress, ContaFi y <a href=https://www.billmysales.com>BillMySales</a>.',
            icon: 'fa-solid fa-briefcase'
        }
    ]"
    line_position="center"
/>

<twig:block-timeline
    class="my-5"
    :events="[
        {
            date: '2023-06-15',
            title: 'Partnership Oficial',
            description: 'Nos volvemos Partner Oficial de Odoo en Chile.',
            icon: 'fa-solid fa-handshake'
        },
        {
            date: '2022-11',
            title: 'Expansión Internacional',
            description: 'Empezamos a recibir solicitudes de clientes fuera de Chile.',
            icon: 'fa-solid fa-globe'
        },
        {
            date: '2022-06',
            title: 'Proyecto Internacional',
            description: 'Desarrollo de producto para clientes fuera de Chile.',
            icon: 'fa-solid fa-globe'
        },
        {
            date: '2021-05',
            title: 'Nuevos Productos',
            description: 'Creación de BHExpress, ContaFi y BillMySales.',
            icon: 'fa-solid fa-briefcase'
        }
    ]"
    line_position="left"
/>

<twig:block-timeline
    class="mb-5"
    :events="[
        {
            date: '2023-06-15',
            title: 'Partnership Oficial',
            description: 'Nos volvemos Partner Oficial de Odoo en Chile.',
            icon: 'fa-solid fa-handshake'
        },
        {
            date: '2022-11',
            title: 'Expansión Internacional',
            description: 'Empezamos a recibir solicitudes de clientes fuera de Chile.',
            icon: 'fa-solid fa-globe'
        },
        {
            date: '2022-06',
            title: 'Proyecto Internacional',
            description: 'Desarrollo de producto para clientes fuera de Chile.',
            icon: 'fa-solid fa-globe'
        },
        {
            date: '2021-05',
            title: 'Nuevos Productos',
            description: 'Creación de BHExpress, ContaFi y BillMySales.',
            icon: 'fa-solid fa-briefcase'
        }
    ]"
    line_position="right"
/>
{% endblock %}
