{% extends 'layouts/default.html.twig' %}

{% block content %}
<twig:block-header
    class="mt-0"
    logoImage="../../img/block-hero.jpeg"
    logoHtml="<span class='fw-normal'>Libre</span><span class='fw-bold text-primary'>DTE</span>"
    :leftNav="[
        {
            text: 'Inicio',
            url: '#'
        },
        {
            text: 'Soluciones',
            icon: 'fa-solid fa-cubes',
            items: [
                {
                    text: 'Solución Básica',
                    icon: 'fa-solid fa-star',
                    url: '#'
                },
                {
                    type: 'divider'
                },
                {
                    text: 'Solución Avanzada',
                    icon: 'fa-solid fa-rocket',
                    items: [
                        {
                            text: 'Características Principales',
                            url: '#'
                        },
                        {
                            icon: 'fa-solid fa-chart-line',
                            text: 'Análisis',
                            url: '#'
                        },
                        {
                            type: 'divider'
                        },
                        {
                            icon: 'fa-solid fa-book-open',
                            text: 'Guía Completa',
                            url: '#'
                        }
                    ]
                }
            ]
        }
    ]"
    :rightNav="[
        {
            text: 'Recursos',
            url: '#',
            icon: 'fa-solid fa-toolbox'
        },
        {
            text: 'Integraciones',
            icon: 'fa-solid fa-plug',
            items: [
                {
                    text: 'Plataformas',
                    icon: 'fa-solid fa-desktop',
                    url: '#'
                },
                {
                    text: 'API',
                    icon: 'fa-solid fa-code',
                    url: '#'
                }
            ]
        }
    ]"
    ctaIcon="fa-solid fa-rocket"
    ctaText="Comenzar"
    ctaUrl="#"
/>

<twig:block-header
    class="my-5"
    logoImage="../../img/block-hero.jpeg"
    logoHtml="<span class='fw-normal'>Otro</span><span class='fw-bold text-primary'>Ejemplo</span>"
    :leftNav="[
        {
            text: 'Marketplace',
            icon: 'fa-solid fa-shopping-cart',
            sections: [
                {
                    title: 'Tecnología',
                    links: [
                        {
                            text: 'Software',
                            url: '#',
                            icon: 'fa-solid fa-laptop-code'
                        },
                        {
                            text: 'Hardware',
                            url: '#',
                            icon: 'fa-solid fa-server'
                        }
                    ]
                }
            ]
        }
    ]"
    ctaText="Explora"
    ctaUrl="#"
/>
{% endblock %}
