{% extends 'layouts/default.html.twig' %}

{% block content %}
<twig:block-image
    title="¿Qué es Twig?"
    image="{{ base_path }}/img/block-hero.jpeg"
    description="<p>Una <a href=https://derafu.org/>ramita</a>.</p>"
    :buttons="[
        {
            text: 'Aprende sobre Twig',
            url: 'https://twig.symfony.com/'
        }
    ]"
    margin_bottom="4"
/>

<twig:block-image
    title="¿Qué es Twig?"
    image="{{ base_path }}/img/block-hero.jpeg"
    description="<p>Una ramita.</p>"
    :buttons="[
        {
            text: 'Aprende sobre Twig',
            url: 'https://twig.symfony.com/'
        }
    ]"
    size="small"
    margin_top="2"
    margin_bottom="3"
/>
{% endblock %}