{% extends 'layouts/default.html.twig' %}

{% block content %}
<twig:block-boxes
    :boxes="[
        {
            icon: 'fa-solid fa-search',
            title: 'Lorem ipsum dolor sit amet',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <a href=\'https://derafu.org/\'>Link</a>',
            button_text: 'Lorem ipsum',
            button_url: '#'
        }
    ]"
    cols="1"
/>

<br/>

<twig:block-boxes
    :boxes="[
        {
            icon: 'fa-solid fa-search',
            title: 'Lorem ipsum dolor sit amet',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            button_text: 'Lorem ipsum',
            button_url: '#'
        },
        {
            icon: 'fa-solid fa-file',
            title: 'Lorem ipsum dolor sit amet',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            button_text: 'Lorem ipsum',
            button_url: '#',
            button_disabled: true
        }
    ]"
/>

<br/>

<twig:block-boxes
    :boxes="[
        {
            icon: 'fa-solid fa-search',
            title: 'Lorem ipsum dolor sit amet',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            button_text: 'Lorem ipsum',
            button_url: '#'
        },
        {
            icon: 'fa-solid fa-file',
            title: 'Lorem ipsum dolor sit amet',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            button_text: 'Lorem ipsum',
            button_url: '#'
        },
        {
            icon: 'fa-solid fa-file',
            title: 'Lorem ipsum dolor sit amet',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            button_text: 'Lorem ipsum',
            button_url: '#'
        }
    ]"
    cols="3"
/>
{% endblock %}
