{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-features-table
    class="my-4"
    title="Features"
    :features="[
        {
            icon: 'fa-solid fa-folder',
            title: 'Taxpayers API',
            content: 'Tax status of third parties and <a href=\'https://www.example.com/\' target=\'_blank\'>economic activities</a>',
            values: {
                'SME Plan': true,
                'Premium Plan': true,
                'Pro Plan': true,
                'Premier Plan': true,
                'e600k Plan': true
            }
        },
        {
            icon: 'fa-solid fa-chart-line',
            title: 'SII API',
            content: 'Indicators: UF and complementary global tax.',
            values: {
                'SME Plan': true,
                'Premium Plan': true,
                'Pro Plan': true,
                'Premier Plan': true,
                'e600k Plan': true
            }
        },
        {
            icon: 'fa-solid fa-file-lines',
            title: 'DTE API',
            content: 'Electronic tax documents.',
            values: {
                'SME Plan': true,
                'Premium Plan': true,
                'Pro Plan': true,
                'Premier Plan': true,
                'e600k Plan': true
            }
        },
        {
            icon: 'fa-solid fa-file-invoice',
            title: 'BHE API',
            content: 'Issued and received fee receipts.',
            values: {
                'SME Plan': false,
                'Premium Plan': false,
                'Pro Plan': true,
                'Premier Plan': true,
                'e600k Plan': true
            }
        },
        {
            icon: 'fa-solid fa-car',
            title: 'Vehicles API',
            content: 'Vehicle appraisal.',
            values: {
                'SME Plan': false,
                'Premium Plan': false,
                'Pro Plan': false,
                'Premier Plan': true,
                'e600k Plan': true
            }
        },
        {
            icon: 'fa-solid fa-chart-bar',
            title: 'Queries every 24 hours',
            values: {
                'SME Plan': '<span class=\'lead\'><a href=\'https://www.example.com/\' target=\'_blank\'>500</a></span>',
                'Premium Plan': '<span class=\'lead\'>1.400</span>',
                'Pro Plan': '<span class=\'lead\'>4.000</span>',
                'Premier Plan': '<span class=\'lead\'>10.000</span>',
                'e600k Plan': '<span class=\'lead\'>20.000</span>'
            }
        },
        {
            icon: 'fa-solid fa-dollar',
            title: '<a href=\'https://www.example.com/\' target=\'_blank\'>Plan price</a>',
            content: '+ VAT / month',
            values: {
                'SME Plan': '<span class=\'lead\'>$40.000</span>',
                'Premium Plan': '<span class=\'lead\'>$80.000</span>',
                'Pro Plan': '<span class=\'lead\'>$150.000</span>',
                'Premier Plan': '<span class=\'lead\'>$300.000</span>',
                'e600k Plan': '<span class=\'lead\'>$600.000</span>'
            }
        }
    ]"
/>

<twig:block-features-table
    class="my-4"
    title="Plan Comparison"
    :features="[
        {
            isHeader: true,
            title: 'API Access'
        },
        {
            icon: 'fa-solid fa-folder',
            title: 'Taxpayers API',
            content: 'Tax data consultation',
            values: {
                'Basic': true,
                'Complete': true
            }
        },
        {
            icon: 'fa-solid fa-file-invoice',
            title: 'Documents API',
            content: 'Electronic invoices and receipts',
            values: {
                'Basic': false,
                'Complete': true
            }
        },
        {
            isHeader: true,
            title: 'Technical Support'
        },
        {
            title: 'Email support',
            values: {
                'Basic': true,
                'Complete': true
            }
        },
        {
            isHeader: true,
            icon: 'fa-solid fa-dollar',
            title: 'Pricing'
        },
        {
            icon: 'fa-solid fa-money-bill',
            title: 'Monthly cost',
            content: '+ VAT',
            values: {
                'Basic': '<span class=\'lead\'>$35.000</span>',
                'Complete': '<span class=\'lead\'>$90.000</span>'
            }
        }
    ]"
/>

{% endblock %}
