{% extends 'layouts/default.html.twig' %}

{% block content %}

{% set types = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark'] %}
{% for type in types %}
    <twig:block-alert
      class="my-4"
      type="{{ type }}"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore <a href='https://www.example.com/' target='_blank'>magna aliqua.</a>"
    />
{% endfor %}

{% endblock %}
