{% extends 'layouts/default.html.twig' %}

{% block content %}
{% for theme, name in themes %}
    <twig:block-title
        class="my-5"
        title="Theme: {{ name }}"
        subtitle="Lorem ipsum dolor sit amet, consectetur <a href=https://derafu.org/>adipiscing elit.</a>"
        bottomBorder="true"
    />
{% endfor %}
{% endblock %}
