{% extends 'layouts/default.html.twig' %}

{% block content %}
<twig:block-box
    title="Box con margen por defecto"
    content='Lorem ipsum dolor sit amet, consectetur adipiscing elit. "<a href="https://derafu.org/">link</a>"'
    :rounded="true"
    container="container"
/>

<twig:block-box
    title="Box con margen personalizado"
    content="<p>Este box tiene margen superior reducido y margen inferior aumentado. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
    margin_top="1"
    margin_bottom="4"
    :rounded="false"
/>
{% endblock %}
