{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-card-grid
    class="my-4"
    :cols="3"
    :cards="[
        {
            image: '../../img/block-hero.jpeg',
            title: 'Twig',
            content: 'It is a twig. <a href=\'https://www.example.com/\' target=\'_blank\'>Link</a>',
            buttonText: 'Learn about Twig',
            buttonUrl: 'https://twig.symfony.com',
            buttonColor: 'primary'
        },
        {
            title: 'Twig',
            content: 'It is a twig.',
            buttonText: 'Learn about Twig',
            buttonUrl: 'https://twig.symfony.com'
        },
        {
            image: '../../img/block-hero.jpeg',
            content: 'Twig is a twig'
        }
    ]"
/>

<twig:block-card-grid
    class="my-4"
    :cols="4"
    :cards="[
        {
            image: '../../img/block-hero.jpeg',
            title: 'Twig',
            content: 'It is a twig.',
            buttonText: 'Learn about Twig',
            buttonUrl: 'https://twig.symfony.com'
        },
        {
            image: '../../img/block-hero.jpeg',
            title: 'Twig',
            content: 'It is a twig.',
            buttonText: 'Learn about Twig',
            buttonUrl: 'https://twig.symfony.com',
        },
        {
            image: '../../img/block-hero.jpeg',
            title: 'Twig',
            content: 'It is a twig.',
            buttonText: 'Learn about Twig',
        },
        {
            image: '../../img/block-hero.jpeg',
            title: 'Twig',
            content: 'It is a twig.',
            buttonText: 'Learn about Twig',
            buttonUrl: 'https://twig.symfony.com',
            buttonColor: 'success'
        }
    ]"
/>

<twig:block-card-grid
    class="my-4"
    :cols="3"
    :cards="[
        {
            image: '../../img/block-hero.jpeg',
            title: 'Twig',
            content: 'It is a twig.',
            buttonText: 'Learn about Twig',
            buttonUrl: 'https://twig.symfony.com',
            offset: 4
        }
    ]"
/>

{% endblock %}
