{% extends 'layouts/default.html.twig' %}

{% block content %}
{% for theme, name in themes %}
    <twig:block-cta
        title="Lorem ipsum dolor sit amet"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href=https://derafu.org/>Link</a>"
        button_text="Theme: {{ name }}"
        button_url="https://www.example.com"

    />
    <br/>
{% endfor %}
{% endblock %}
