{% extends 'layouts/default.html.twig' %}

{% block content %}
{% for theme, name in themes %}
    <twig:block-features-table
        title="Características"
        :features="[
            {
                'icon': 'fa-solid fa-folder',
                'name': 'API Contribuyentes',
                'description': 'Situación tributaria de terceros y actividades <a href=https://derafu.org/>económicas</a>. ',
                'values': {
                    'Plan PYME': true,
                    'Plan Premium': true,
                    'Plan Pro': true,
                    'Plan Premier': true,
                    'Plan e600k': true
                }
            },
            {
                'icon': 'fa-solid fa-chart-line',
                'name': 'API SII',
                'description': 'Indicadores: UF e impuesto global complementario.',
                'values': {
                    'Plan PYME': true,
                    'Plan Premium': true,
                    'Plan Pro': true,
                    'Plan Premier': true,
                    'Plan e600k': true
                }
            },
            {
                'icon': 'fa-solid fa-file-lines',
                'name': 'API DTE',
                'description': 'Documentos tributarios electrónicos.',
                'values': {
                    'Plan PYME': true,
                    'Plan Premium': true,
                    'Plan Pro': true,
                    'Plan Premier': true,
                    'Plan e600k': true
                }
            },
            {
                'icon': 'fa-solid fa-file-invoice',
                'name': 'API BHE',
                'description': 'Boletas de honorarios emitidas y recibidas.',
                'values': {
                    'Plan PYME': false,
                    'Plan Premium': false,
                    'Plan Pro': true,
                    'Plan Premier': true,
                    'Plan e600k': true
                }
            },
            {
                'icon': 'fa-solid fa-car',
                'name': 'API Vehículos',
                'description': 'Tasación vehicular.',
                'values': {
                    'Plan PYME': false,
                    'Plan Premium': false,
                    'Plan Pro': false,
                    'Plan Premier': true,
                    'Plan e600k': true
                }
            },
            {
                'icon': 'fa-solid fa-chart-bar',
                'name': 'Consultas cada 24 horas',
                'values': {
                    'Plan PYME': '<span class=\'lead\'><a href=https://derafu.org/>500</a></span>',
                    'Plan Premium': '<span class=\'lead\'>1.400</span>',
                    'Plan Pro': '<span class=\'lead\'>4.000</span>',
                    'Plan Premier': '<span class=\'lead\'>10.000</span>',
                    'Plan e600k': '<span class=\'lead\'>20.000</span>'
                }
            },
            {
                'icon': 'fa-solid fa-dollar',
                'name': '<a href=https://derafu.org/>Precio del plan</a>',
                'description': '+ IVA / mes',
                'values': {
                    'Plan PYME': '<span class=\'lead\'>$40.000</span>',
                    'Plan Premium': '<span class=\'lead\'>$80.000</span>',
                    'Plan Pro': '<span class=\'lead\'>$150.000</span>',
                    'Plan Premier': '<span class=\'lead\'>$300.000</span>',
                    'Plan e600k': '<span class=\'lead\'>$600.000</span>'
                }
            }
        ]"
        margin_top="2"
        margin_bottom="5"
    />
{% endfor %}
{% endblock %}
