{% extends 'layouts/default.html.twig' %}

{% block content %}

<twig:block-media-list
    class="mb-5"
    :items="[
        {
            image: '/img/block-hero.jpeg',
            title: 'Title 1',
            content: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>'
        },
        {
            image: '/img/block-hero.jpeg',
            title: 'Title 2',
            content: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>'
        },
        {
            image: '/img/block-hero.jpeg',
            title: 'Title 3',
            content: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>'
        }
    ]"
/>

<twig:block-media-list
    class="mb-5"
    :rounded="true"
    :items="[
        {
            image: '/img/block-hero.jpeg',
            title: 'Title 1',
            content: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>'
        },
        {
            image: '/img/block-hero.jpeg',
            title: 'Title 2',
            content: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>'
        },
        {
            image: '/img/block-hero.jpeg',
            title: 'Title 3',
            content: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>'
        }
    ]"
/>

{% endblock %}
