{% extends 'layouts/default.html.twig' %}

{% block content %}
{% for theme, name in themes %}
    <twig:block-features-grid
        :blocks="[
            {
                title: 'Theme',
                subtitle: 'Descripción del primer bloque',
                features: [
                    {
                        icon: 'fa-solid fa-cloud',
                        title: 'Característica 1',
                        description: 'Descripción de la característica 1. <a href=\'https://derafu.org/\'>Link.</a>'
                    },
                    {
                        icon: 'fa-solid fa-cog',
                        title: 'Característica 2',
                        description: 'Descripción de la característica 2.'
                    },
                    {
                        icon: 'fa-solid fa-users',
                        title: 'Característica 3',
                        description: 'Descripción de la característica 3.'
                    }
                ]
            },
            {
                title: name,
                subtitle: 'Descripción del segundo bloque',
                features: [
                    {
                        icon: 'fa-solid fa-star',
                        title: 'Característica 1',
                        description: 'Descripción de la característica 1.'
                    },
                    {
                        icon: 'fa-solid fa-heart',
                        title: 'Característica 2',
                        description: 'Descripción de la característica 2.'
                    },
                    {
                        icon: 'fa-solid fa-bell',
                        title: 'Característica 3',
                        description: 'Descripción de la característica 3.'
                    }
                ]
            }
        ]"

    />
{% endfor %}
{% endblock %}
