{% extends 'layouts/default.html.twig' %}

{% block content %}
<twig:block-image
    class="mt-5"
    title="¿Qué es Twig?"
    image="{{ base_path }}/img/block-hero.jpeg"
    description="Una <a href=https://derafu.org/>ramita</a>."
    :buttons="[
        {
            text: 'Aprende sobre Twig',
            url: 'https://twig.symfony.com/'
        }
    ]"
/>

<twig:block-image
    class="my-5"
    title="¿Qué es <a href=https://derafu.org/>Twig</a>?"
    image="{{ base_path }}/img/block-hero.jpeg"
    description="Una ramita"
    :buttons="[
        {
            text: 'Aprende sobre Twig',
            url: 'https://twig.symfony.com/'
        }
    ]"
    size="small"
/>
{% endblock %}
