{% extends 'layouts/default.html.twig' %}

{% block content %}

<p><strong>Note</strong>: The CTA block can be used in full width or in a container. In full with the CTA should not have rounded corners. In this example we use a container, that is the reason why we have rounded corners.</p>

<twig:block-cta
    class="my-4 rounded p-4"
    title="Lorem ipsum dolor sit amet"
    content='Lorem ipsum dolor sit amet, consectetur <a href="https://www.example.com/" target="_blank">adipiscing elit.</a>'
    buttonText="More information"
    buttonUrl="https://www.example.com/"
/>

<twig:block-cta
    class="my-4 rounded p-4"
    title="Lorem ipsum dolor sit amet"
    content='Lorem ipsum dolor sit amet, consectetur <a href="https://www.example.com/" target="_blank">adipiscing elit.</a>'
    buttonText="Disabled button"
/>

{% endblock %}
