<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derafu: Twig - UI Component and Extension Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.css" rel="stylesheet" />
    <link href="https://derafu.org/css/styles.min.css" rel="stylesheet" />
        <link href="../css/styles.min.css" rel="stylesheet" />
</head>
<body>
                <div id="header-container" class="sticky-top"></div>
    
            <div class="container">
            <div class="row">
                <main class="col-md-9">
                                                                                                <h1>Block Video Grid</h1>
                            <p class="mb-4"></p>
                                            
                    

<div
    class="derafu-block-video-grid my-4"
    
    id="block-video-grid--6845e37bc36e0"
>
    <div class="row g-4">
                    <div class="col-sm-6 col-lg-4
                ">

                <div class="derafu-block-video-grid__card
                    "
                >
                    <div class="derafu-block-video-grid__media">
                        <iframe
                            class="derafu-block-video-grid__player"
                            src="https://www.youtube.com/embed/GOAEIMx39-w"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>

                                            <div class="derafu-block-video-grid__content">
                                                            <h3 class="derafu-block-video-grid__title">Lorem ipsum</h3>
                            
                                                            <div class="derafu-block-video-grid__content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore <a href='https://www.example.com/' target='_blank'>magna aliqua.</a>
                                </div>
                                                    </div>
                    
                                            <div class="derafu-block-video-grid__footer">
                            <a href="block-video-grid.html#" class="derafu-block-video-grid__button btn " role="button">
                                Learn more
                            </a>
                        </div>
                                    </div>
            </div>
                    <div class="col-sm-6 col-lg-4
                ">

                <div class="derafu-block-video-grid__card
                    "
                >
                    <div class="derafu-block-video-grid__media">
                        <iframe
                            class="derafu-block-video-grid__player"
                            src="https://www.youtube.com/embed/GOAEIMx39-w"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>

                                            <div class="derafu-block-video-grid__content">
                                                            <h3 class="derafu-block-video-grid__title">Lorem ipsum</h3>
                            
                                                            <div class="derafu-block-video-grid__content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                                                    </div>
                    
                                            <div class="derafu-block-video-grid__footer">
                            <a href="block-video-grid.html" class="derafu-block-video-grid__button btn disabled" role="button">
                                Learn more
                            </a>
                        </div>
                                    </div>
            </div>
                    <div class="col-sm-6 col-lg-4
                ">

                <div class="derafu-block-video-grid__card
                    "
                >
                    <div class="derafu-block-video-grid__media">
                        <iframe
                            class="derafu-block-video-grid__player"
                            src="https://www.youtube.com/embed/GOAEIMx39-w"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>

                                            <div class="derafu-block-video-grid__content">
                                                            <h3 class="derafu-block-video-grid__title">Lorem ipsum</h3>
                            
                                                            <div class="derafu-block-video-grid__content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                                                    </div>
                    
                                            <div class="derafu-block-video-grid__footer">
                            <a href="block-video-grid.html#" class="derafu-block-video-grid__button btn " role="button">
                                Learn more
                            </a>
                        </div>
                                    </div>
            </div>
            </div>
</div>



<div
    class="derafu-block-video-grid my-4"
    
    id="block-video-grid--6845e37bc3825"
>
    <div class="row g-4">
                    <div class="col-sm-6 col-lg-6
                ">

                <div class="derafu-block-video-grid__card
                    border border-0"
                >
                    <div class="derafu-block-video-grid__media">
                        <iframe
                            class="derafu-block-video-grid__player"
                            src="https://www.youtube.com/embed/GOAEIMx39-w"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>

                    
                                    </div>
            </div>
                    <div class="col-sm-6 col-lg-6
                ">

                <div class="derafu-block-video-grid__card
                    border border-0"
                >
                    <div class="derafu-block-video-grid__media">
                        <iframe
                            class="derafu-block-video-grid__player"
                            src="https://www.youtube.com/embed/GOAEIMx39-w"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>

                    
                                    </div>
            </div>
            </div>
</div>



<div
    class="derafu-block-video-grid my-4"
    
    id="block-video-grid--6845e37bc38d7"
>
    <div class="row g-4">
                    <div class="col-sm-6 col-lg-12
                ">

                <div class="derafu-block-video-grid__card
                    border border-0"
                >
                    <div class="derafu-block-video-grid__media">
                        <iframe
                            class="derafu-block-video-grid__player"
                            src="https://www.youtube.com/embed/GOAEIMx39-w"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>

                    
                                    </div>
            </div>
            </div>
</div>



                                                            <div class="mt-4 mb-4">
                        <pre><code class="line-numbers language-twig">{# derafu_twig:templates/pages/components/block-video-grid.html.twig #}

{% extends &#039;layouts/default.html.twig&#039; %}

{% block content %}

&lt;twig:block-video-grid
    class=&quot;my-4&quot;
    :cols=&quot;3&quot;
    :videos=&quot;[
        {
            video: &#039;https://www.youtube.com/watch?v=GOAEIMx39-w&#039;,
            title: &#039;Lorem ipsum&#039;,
            content: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore &lt;a href=\&#039;https://www.example.com/\&#039; target=\&#039;_blank\&#039;&gt;magna aliqua.&lt;/a&gt;&#039;,
            buttonText: &#039;Learn more&#039;,
            buttonUrl: &#039;#&#039;
        },
        {
            video: &#039;https://www.youtube.com/watch?v=GOAEIMx39-w&#039;,
            title: &#039;Lorem ipsum&#039;,
            content: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&#039;,
            buttonText: &#039;Learn more&#039;,
            buttonUrl: &#039;&#039;
        },
        {
            video: &#039;https://www.youtube.com/watch?v=GOAEIMx39-w&#039;,
            title: &#039;Lorem ipsum&#039;,
            content: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&#039;,
            buttonText: &#039;Learn more&#039;,
            buttonUrl: &#039;#&#039;
        }
    ]&quot;
/&gt;

&lt;twig:block-video-grid
    class=&quot;my-4&quot;
    :cols=&quot;2&quot;
    :videos=&quot;[
        {
            video: &#039;https://www.youtube.com/watch?v=GOAEIMx39-w&#039;
        },
        {
            video: &#039;https://www.youtube.com/watch?v=GOAEIMx39-w&#039;
        }
    ]&quot;
/&gt;

&lt;twig:block-video-grid
    class=&quot;my-4&quot;
    :cols=&quot;1&quot;
    :videos=&quot;[
        {
            video: &#039;https://www.youtube.com/watch?v=GOAEIMx39-w&#039;
        }
    ]&quot;
/&gt;

{% endblock %}
</code></pre>
                    </div>
                                    </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/twig" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/twig
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/twig" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/twig" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../index.html">
                            README
                        </a>
                    </div>

                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Themes</div>
                              <span class="smal text-muted">Color Palettes</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">1</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../themes.html">
                            Predefined Themes
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Components</div>
                              <span class="smal text-muted">Blocks</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">35</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../components.html">
                            All the Components
                        </a>
                                                    <a class="list-group-item list-group-item-action " href="block-accordion.html" data-bs-toggle="tooltip" title="">
                                Accordion
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-alert.html" data-bs-toggle="tooltip" title="">
                                Alert
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-boxes.html" data-bs-toggle="tooltip" title="">
                                Big Boxes
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-box.html" data-bs-toggle="tooltip" title="">
                                Box
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-cta.html" data-bs-toggle="tooltip" title="">
                                CTA
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card.html" data-bs-toggle="tooltip" title="">
                                Card
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card-grid.html" data-bs-toggle="tooltip" title="">
                                Card Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-comparison.html" data-bs-toggle="tooltip" title="">
                                Comparison
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-grid.html" data-bs-toggle="tooltip" title="">
                                Features Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-icon.html" data-bs-toggle="tooltip" title="">
                                Features Icon
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-list.html" data-bs-toggle="tooltip" title="">
                                Features List
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-table.html" data-bs-toggle="tooltip" title="">
                                Features Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-footer.html" data-bs-toggle="tooltip" title="">
                                Footer
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-grid.html" data-bs-toggle="tooltip" title="">
                                Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-header.html" data-bs-toggle="tooltip" title="">
                                Header
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-hero.html" data-bs-toggle="tooltip" title="">
                                Hero
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image.html" data-bs-toggle="tooltip" title="">
                                Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image-grid.html" data-bs-toggle="tooltip" title="">
                                Image Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-modal.html" data-bs-toggle="tooltip" title="">
                                Modal
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-offcanvas.html" data-bs-toggle="tooltip" title="">
                                Offcanvas
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-quote.html" data-bs-toggle="tooltip" title="">
                                Quote
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-scrollspy.html" data-bs-toggle="tooltip" title="">
                                Scrollspy
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-stats.html" data-bs-toggle="tooltip" title="">
                                Stats
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-steps.html" data-bs-toggle="tooltip" title="">
                                Steps
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-table.html" data-bs-toggle="tooltip" title="">
                                Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-tabs.html" data-bs-toggle="tooltip" title="">
                                Tabs
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-team.html" data-bs-toggle="tooltip" title="">
                                Team
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-testimonials.html" data-bs-toggle="tooltip" title="">
                                Testimonials
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-image.html" data-bs-toggle="tooltip" title="">
                                Text Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-video.html" data-bs-toggle="tooltip" title="">
                                Text Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-timeline.html" data-bs-toggle="tooltip" title="">
                                Timeline
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-title.html" data-bs-toggle="tooltip" title="">
                                Title
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-toast.html" data-bs-toggle="tooltip" title="">
                                Toast
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video.html" data-bs-toggle="tooltip" title="">
                                Video
                            </a>
                                                    <a class="list-group-item list-group-item-action active" href="block-video-grid.html" data-bs-toggle="tooltip" title="">
                                Video Grid
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    
            <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.js"></script>
        <script src="../js/app.min.js"></script>
</body>
</html>
