<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derafu: Twig - UI Component and Extension Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.css" rel="stylesheet" />
    <link href="https://derafu.org/css/styles.min.css" rel="stylesheet" />
        <link href="../css/styles.min.css" rel="stylesheet" />
</head>
<body>
                <div id="header-container" class="sticky-top"></div>
    
            <div class="container">
            <div class="row">
                <main class="col-md-9">
                                                                                                <h1>Block Team</h1>
                            <p class="mb-4">Showcase of team members.</p>
                                            
                    <div class="container derafu-block-team mt-5 derafu-block-team--cols-1 derafu-block-team--align-center"
    id="block-team--683eeee0dfb18">
    <div class="row g-4">
                                <div class="col-sm-6 col-lg-12
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="John Doe" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">John Doe</h3>
                        <div class="derafu-block-team__role">Fundador</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing <a href=https://derafu.org/>elit.</a href></div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-linkedin"></i>
                                                                                <span>LinkedIn</span>
                                    </a>
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-github"></i>
                                                                                <span>GitHub</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
            </div>
</div>


<div class="container derafu-block-team my-5 derafu-block-team--cols-2 derafu-block-team--align-center"
    id="block-team--683eeee0e242e">
    <div class="row g-4">
                                <div class="col-sm-6 col-lg-6
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="John Doe" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">John Doe</h3>
                        <div class="derafu-block-team__role">Fundador</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-linkedin"></i>
                                                                                <span>LinkedIn</span>
                                    </a>
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-github"></i>
                                                                                <span>GitHub</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
                                <div class="col-sm-6 col-lg-6
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="Jane Smith" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">Jane Smith</h3>
                        <div class="derafu-block-team__role">Co-Fundadora</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-linkedin"></i>
                                                                                <span>LinkedIn</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
            </div>
</div>


<div class="container derafu-block-team my-5 derafu-block-team--cols-3 derafu-block-team--align-center"
    id="block-team--683eeee0e2544">
    <div class="row g-4">
                                <div class="col-sm-6 col-lg-4
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="John Doe" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">John Doe</h3>
                        <div class="derafu-block-team__role">Fundador</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-linkedin"></i>
                                                                                <span>LinkedIn</span>
                                    </a>
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-github"></i>
                                                                                <span>GitHub</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
                                <div class="col-sm-6 col-lg-4
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="Jane Smith" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">Jane Smith</h3>
                        <div class="derafu-block-team__role">Co-Fundadora</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-linkedin"></i>
                                                                                <span>LinkedIn</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
                                <div class="col-sm-6 col-lg-4
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="Mike Johnson" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">Mike Johnson</h3>
                        <div class="derafu-block-team__role">Desarrollador</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-github"></i>
                                                                                <span>GitHub</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
            </div>
</div>


<div class="container derafu-block-team mb-5 derafu-block-team--cols-4 derafu-block-team--align-center"
    id="block-team--683eeee0e2682">
    <div class="row g-4">
                                <div class="col-sm-6 col-lg-3
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="John Doe" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">John Doe</h3>
                        <div class="derafu-block-team__role">Fundador</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-linkedin"></i>
                                                                                <span>LinkedIn</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
                                <div class="col-sm-6 col-lg-3
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="Jane Smith" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">Jane Smith</h3>
                        <div class="derafu-block-team__role">Co-Fundadora</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-github"></i>
                                                                                <span>GitHub</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
                                <div class="col-sm-6 col-lg-3
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="Saul Goodman" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">Saul Goodman</h3>
                        <div class="derafu-block-team__role">RRHH</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-linkedin"></i>
                                                                                <span>LinkedIn</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
                                <div class="col-sm-6 col-lg-3
                ">
                <div class="derafu-block-team__member">
                                        <div class="derafu-block-team__image">
                        <img src="../img/block-hero.jpeg" alt="Mike Johnson" class="img-fluid">
                    </div>

                                        <div class="derafu-block-team__info">
                        <h3 class="derafu-block-team__name">Mike Johnson</h3>
                        <div class="derafu-block-team__role">Desarrollador</div>

                                                    <div class="derafu-block-team__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        
                                                    <div class="derafu-block-team__links">
                                                                    <a href="https://www.example.com" class="derafu-block-team__link btn ">
                                                                                    <i class="fa-brands fa-github"></i>
                                                                                <span>GitHub</span>
                                    </a>
                                                            </div>
                                            </div>
                </div>
            </div>
            </div>
</div>


                                                            <div class="mt-4 mb-4">
                        <pre><code class="line-numbers language-twig">{# derafu_twig:templates/pages/components/block-team.html.twig #}

{% extends &#039;layouts/default.html.twig&#039; %}

{% block content %}
&lt;twig:block-team
    class=&quot;mt-5&quot;
    :members=&quot;[
        {
            name: &#039;John Doe&#039;,
            role: &#039;Fundador&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing &lt;a href=https://derafu.org/&gt;elit.&lt;/a href&gt;&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-linkedin&#039;,
                    text: &#039;LinkedIn&#039;,
                    url: &#039;https://www.example.com&#039;
                },
                {
                    icon: &#039;fa-brands fa-github&#039;,
                    text: &#039;GitHub&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        }
    ]&quot;
    :cols=&quot;1&quot;
/&gt;

&lt;twig:block-team
    class=&quot;my-5&quot;
    :members=&quot;[
        {
            name: &#039;John Doe&#039;,
            role: &#039;Fundador&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-linkedin&#039;,
                    text: &#039;LinkedIn&#039;,
                    url: &#039;https://www.example.com&#039;
                },
                {
                    icon: &#039;fa-brands fa-github&#039;,
                    text: &#039;GitHub&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        },
        {
            name: &#039;Jane Smith&#039;,
            role: &#039;Co-Fundadora&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-linkedin&#039;,
                    text: &#039;LinkedIn&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        }
    ]&quot;
    :cols=&quot;2&quot;
/&gt;

&lt;twig:block-team
    class=&quot;my-5&quot;
    :members=&quot;[
        {
            name: &#039;John Doe&#039;,
            role: &#039;Fundador&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-linkedin&#039;,
                    text: &#039;LinkedIn&#039;,
                    url: &#039;https://www.example.com&#039;
                },
                {
                    icon: &#039;fa-brands fa-github&#039;,
                    text: &#039;GitHub&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        },
        {
            name: &#039;Jane Smith&#039;,
            role: &#039;Co-Fundadora&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-linkedin&#039;,
                    text: &#039;LinkedIn&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        },
        {
            name: &#039;Mike Johnson&#039;,
            role: &#039;Desarrollador&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-github&#039;,
                    text: &#039;GitHub&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        }
    ]&quot;
    :cols=&quot;3&quot;
/&gt;

&lt;twig:block-team
    class=&quot;mb-5&quot;
    :members=&quot;[
        {
            name: &#039;John Doe&#039;,
            role: &#039;Fundador&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-linkedin&#039;,
                    text: &#039;LinkedIn&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        },
        {
            name: &#039;Jane Smith&#039;,
            role: &#039;Co-Fundadora&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-github&#039;,
                    text: &#039;GitHub&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        },
                {
            name: &#039;Saul Goodman&#039;,
            role: &#039;RRHH&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-linkedin&#039;,
                    text: &#039;LinkedIn&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        },
        {
            name: &#039;Mike Johnson&#039;,
            role: &#039;Desarrollador&#039;,
            image: &#039;../../img/block-hero.jpeg&#039;,
            bio: &#039;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#039;,
            links: [
                {
                    icon: &#039;fa-brands fa-github&#039;,
                    text: &#039;GitHub&#039;,
                    url: &#039;https://www.example.com&#039;
                }
            ]
        }
    ]&quot;
    :cols=&quot;4&quot;
/&gt;
{% endblock %}
</code></pre>
                    </div>
                                    </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/twig" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/twig
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/twig" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/twig" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../index.html">
                            README
                        </a>
                    </div>

                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Themes</div>
                              <span class="smal text-muted">Color Palettes</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">1</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../themes.html">
                            Predefined Themes
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Components</div>
                              <span class="smal text-muted">Blocks</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">35</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../components.html">
                            All the Components
                        </a>
                                                    <a class="list-group-item list-group-item-action " href="block-accordion.html" data-bs-toggle="tooltip" title="Collapsible content sections.">
                                Accordion
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-alert.html" data-bs-toggle="tooltip" title="Alert messages for user feedback.">
                                Alert
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-boxes.html" data-bs-toggle="tooltip" title="Large box display for information.">
                                Big Boxes
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-box.html" data-bs-toggle="tooltip" title="Simple box container for content.">
                                Box
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-cta.html" data-bs-toggle="tooltip" title="Call-to-action component.">
                                CTA
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card.html" data-bs-toggle="tooltip" title="Card component for content display.">
                                Card
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card-grid.html" data-bs-toggle="tooltip" title="Grid layout for multiple cards.">
                                Card Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-comparison.html" data-bs-toggle="tooltip" title="Side-by-side comparison.">
                                Comparison
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-grid.html" data-bs-toggle="tooltip" title="Grid layout for key features.">
                                Features Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-icon.html" data-bs-toggle="tooltip" title="Icon-based feature display.">
                                Features Icon
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-list.html" data-bs-toggle="tooltip" title="List-style feature presentation.">
                                Features List
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-table.html" data-bs-toggle="tooltip" title="Tabular feature comparison.">
                                Features Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-footer.html" data-bs-toggle="tooltip" title="Page footer component with various layouts.">
                                Footer
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-grid.html" data-bs-toggle="tooltip" title="Basic grid layout system for organizing content.">
                                Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-header.html" data-bs-toggle="tooltip" title="Page header component with navigation options.">
                                Header
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-hero.html" data-bs-toggle="tooltip" title="Eye-catching hero section for landing pages.">
                                Hero
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image.html" data-bs-toggle="tooltip" title="Enhanced image display component.">
                                Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image-grid.html" data-bs-toggle="tooltip" title="Grid layout for image galleries.">
                                Image Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-modal.html" data-bs-toggle="tooltip" title="Popup dialog windows.">
                                Modal
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-offcanvas.html" data-bs-toggle="tooltip" title="Hidden sidebars.">
                                Offcanvas
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-quote.html" data-bs-toggle="tooltip" title="Styled blockquote component.">
                                Quote
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-scrollspy.html" data-bs-toggle="tooltip" title="Navigation aid that highlights content sections as users scroll through the page.">
                                Scrollspy
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-stats.html" data-bs-toggle="tooltip" title="Display of statistical data.">
                                Stats
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-steps.html" data-bs-toggle="tooltip" title="Step-by-step guide component with variable steps and arrow design.">
                                Steps
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-table.html" data-bs-toggle="tooltip" title="Data table component with styling options.">
                                Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-tabs.html" data-bs-toggle="tooltip" title="Tabbed content interface, with horizontal and vertical layout.">
                                Tabs
                            </a>
                                                    <a class="list-group-item list-group-item-action active" href="block-team.html" data-bs-toggle="tooltip" title="Showcase of team members.">
                                Team
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-testimonials.html" data-bs-toggle="tooltip" title="Display of testimonials or opinions.">
                                Testimonials
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-image.html" data-bs-toggle="tooltip" title="Combined text and image layout.">
                                Text Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-video.html" data-bs-toggle="tooltip" title="Combined text and video layout.">
                                Text Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-timeline.html" data-bs-toggle="tooltip" title="Chronological event display with configurable alignment.">
                                Timeline
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-title.html" data-bs-toggle="tooltip" title="Customizable title component.">
                                Title
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-toast.html" data-bs-toggle="tooltip" title="Notification messages.">
                                Toast
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video.html" data-bs-toggle="tooltip" title="Video player component.">
                                Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video-grid.html" data-bs-toggle="tooltip" title="Grid layout for multiple videos.">
                                Video Grid
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    
            <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.js"></script>
        <script src="../js/app.min.js"></script>
</body>
</html>
