<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derafu: Twig - UI Component and Extension Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.css" rel="stylesheet" />
    <link href="https://derafu.org/css/styles.min.css" rel="stylesheet" />
        <link href="../css/styles.min.css" rel="stylesheet" />
</head>
<body>
                <div id="header-container" class="sticky-top"></div>
    
            <div class="container">
            <div class="row">
                <main class="col-md-9">
                                                                                                <h1>Block Footer</h1>
                            <p class="mb-4">Page footer component with various layouts.</p>
                                            
                            <footer class="derafu-block-footer 
        mb-5"
    id="block-footer--6830d395dff2b">
    <div class="container">
        <div class="row">
                                        <div class="col">
                                            <h5 class="derafu-block-footer__title mb-4">Enlaces útiles</h5>
                                                                                    <ul class="derafu-block-footer__links list-unstyled">
                                                            <li>
                                    <a href="http://www.example.com" >
                                                                                    <i class="fa-solid fa-graduation-cap fa-fw me-2"></i>
                                                                                Academia
                                    </a>
                                </li>
                                                            <li>
                                    <a href="http://www.example.com" target="_blank" rel="noopener">
                                                                                    <i class="fa-solid fa-briefcase fa-fw me-2"></i>
                                                                                Empleos
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-shopping-cart fa-fw me-2"></i>
                                                                                Tienda
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-money-bill fa-fw me-2"></i>
                                                                                Pagos con transferencia
                                    </a>
                                </li>
                                                    </ul>
                                                        </div>
            
                                        <div class="col">
                                                                <h5 class="derafu-block-footer__title mb-4">Productos de software</h5>
                                                                                    <ul class="derafu-block-footer__links list-unstyled">
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-file-invoice fa-fw me-2"></i>
                                                                                LibreDTE
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-network-wired me-2"></i>
                                                                                API Gateway
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-cash-register fa-fw me-2"></i>
                                                                                BillMySales
                                    </a>
                                </li>
                                                    </ul>
                                                        </div>
            
                                        <div class="col">
                                                                <h5 class="derafu-block-footer__title mb-4">Contáctanos</h5>
                                                                                    <ul class="derafu-block-footer__links list-unstyled">
                                                            <li>
                                    <a href="mailto:derafu-twig@example.com" >
                                                                                    <i class="fa-solid fa-envelope fa-fw me-2"></i>
                                                                                derafu-twig@example.com
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-calendar fa-fw me-2"></i>
                                                                                Agendar una reunión
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-question-circle fa-fw me-2"></i>
                                                                                Centro de ayuda
                                    </a>
                                </li>
                                                    </ul>
                                                        </div>
            
                                        <div class="col">
                                                                <h5 class="derafu-block-footer__title mb-4">Derafu ORG</h5>
                                                                <div class="derafu-block-footer__text mb-4"><p>Santa Cruz, Chile.</p><p>Desde Chile para todo el mundo con ❤️</p></div>
                                                                                    <div class="derafu-block-footer__social mt-4">
                                                            <a href="block-footer.html#"
                                   target="_blank" rel="noopener"                                   class="derafu-block-footer__social-icon derafu-block-footer__social-icon--circular"
                                   style="--social-icon-color: #0077b5;">
                                    <i class="fa-brands fa-linkedin fa-2x "></i>
                                </a>
                                                            <a href="block-footer.html#"
                                   target="_blank" rel="noopener"                                   class="derafu-block-footer__social-icon derafu-block-footer__social-icon--circular"
                                   style="--social-icon-color: #333;">
                                    <i class="fa-brands fa-github fa-2x "></i>
                                </a>
                                                    </div>
                                    </div>
                    </div>
    </div>

                <div class="derafu-block-footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                                                    <div class="derafu-block-footer__bottom-text">Copyright © Derafu ORG (Theme: Bootstrap)</div>
                                            </div>
                    <div class="col-md text-md-end">
                                                    <div class="derafu-block-footer__bottom-text">Todos los derechos reservados</div>
                                            </div>
                </div>
            </div>
        </div>
    </footer>


        <footer class="derafu-block-footer derafu-theme-bootstrap
    mt-2    mb-5"
    id="block-footer--6830d395e8e40">
    <div class="container">
        <div class="row">
                                        <div class="col">
                                            <h5 class="derafu-block-footer__title mb-4">Nuestra Empresa</h5>
                                                                <div class="derafu-block-footer__text mb-4"><p>Soluciones de software innovadoras para empresas modernas.</p></div>
                                                                <ul class="derafu-block-footer__links list-unstyled">
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                Sobre Nosotros
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                Contacto
                                    </a>
                                </li>
                                                    </ul>
                                                        </div>
            
                                        <div class="col">
                                                                <h5 class="derafu-block-footer__title mb-4">Enlaces Rápidos</h5>
                                                                                    <ul class="derafu-block-footer__links list-unstyled">
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                Documentación
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                Soporte
                                    </a>
                                </li>
                                                    </ul>
                                                        </div>
            
                        
                                </div>
    </div>

                <div class="derafu-block-footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                                                    <div class="derafu-block-footer__bottom-text">© 2024 Derafu ORG (Theme: Bootstrap)</div>
                                            </div>
                    <div class="col-md text-md-end">
                                            </div>
                </div>
            </div>
        </div>
    </footer>


        <footer class="derafu-block-footer derafu-theme-bootstrap
    mt-2    "
    id="block-footer--6830d395e9111">
    <div class="container">
        <div class="row">
                                        <div class="col">
                                            <h5 class="derafu-block-footer__title mb-4">Síguenos</h5>
                                                                <div class="derafu-block-footer__text mb-4"><p>Mantente conectado con nosotros en redes sociales</p></div>
                                                                                    <div class="derafu-block-footer__social mt-4">
                                                            <a href="http://www.example.com"
                                   target="_blank" rel="noopener"                                   class="derafu-block-footer__social-icon "
                                   style="--social-icon-color: #1877f2;">
                                    <i class="fa-brands fa-facebook fa-2x "></i>
                                </a>
                                                            <a href="block-footer.html#"
                                   target="_blank" rel="noopener"                                   class="derafu-block-footer__social-icon "
                                   style="--social-icon-color: #1da1f2;">
                                    <i class="fa-brands fa-twitter fa-2x "></i>
                                </a>
                                                            <a href="block-footer.html#"
                                   target="_blank" rel="noopener"                                   class="derafu-block-footer__social-icon "
                                   style="--social-icon-color: #e4405f;">
                                    <i class="fa-brands fa-instagram fa-2x "></i>
                                </a>
                                                            <a href="block-footer.html#"
                                   target="_blank" rel="noopener"                                   class="derafu-block-footer__social-icon "
                                   style="--social-icon-color: #ff0000;">
                                    <i class="fa-brands fa-youtube fa-2x "></i>
                                </a>
                                                    </div>
                                    </div>
            
                                        <div class="col">
                                                                <h5 class="derafu-block-footer__title mb-4">Comunidad</h5>
                                                                                    <ul class="derafu-block-footer__links list-unstyled">
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-blog me-2"></i>
                                                                                Blog
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-comments me-2"></i>
                                                                                Foro
                                    </a>
                                </li>
                                                            <li>
                                    <a href="block-footer.html#" >
                                                                                    <i class="fa-solid fa-calendar-days me-2"></i>
                                                                                Eventos
                                    </a>
                                </li>
                                                    </ul>
                                                                <div class="derafu-block-footer__social mt-4">
                                                            <a href="block-footer.html#"
                                   target="_blank" rel="noopener"                                   class="derafu-block-footer__social-icon "
                                   style="--social-icon-color: #5865f2;">
                                    <i class="fa-brands fa-discord fa-2x "></i>
                                </a>
                                                            <a href="block-footer.html#"
                                   target="_blank" rel="noopener"                                   class="derafu-block-footer__social-icon "
                                   style="--social-icon-color: #0088cc;">
                                    <i class="fa-brands fa-telegram fa-2x "></i>
                                </a>
                                                    </div>
                                    </div>
            
                        
                                </div>
    </div>

                <div class="derafu-block-footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                                                    <div class="derafu-block-footer__bottom-text">Únete a nuestra comunidad (Theme: Bootstrap)</div>
                                            </div>
                    <div class="col-md text-md-end">
                                                    <div class="derafu-block-footer__bottom-text"><a href="block-footer.html#">Política de Privacidad</a> | <a href="block-footer.html#">Términos de Uso</a></div>
                                            </div>
                </div>
            </div>
        </div>
    </footer>


                                                            <div class="mt-4 mb-4">
                        <pre><code class="line-numbers language-twig">{# derafu_twig:templates/pages/components/block-footer.html.twig #}

{% extends &#039;layouts/default.html.twig&#039; %}

{% block content %}
{% for theme, name in themes %}
    {# Ejemplo 1: Footer Completo con 4 columnas #}
    &lt;twig:block-footer
        col1Title=&quot;Enlaces útiles&quot;
        :col1Links=&quot;[
            {
                text: &#039;Academia&#039;,
                url: &#039;http://www.example.com&#039;,
                icon: &#039;fa-solid fa-graduation-cap fa-fw&#039;
            },
            {
                text: &#039;Empleos&#039;,
                url: &#039;http://www.example.com&#039;,
                icon: &#039;fa-solid fa-briefcase fa-fw&#039;,
                targetBlank: true
            },
            {
                text: &#039;Tienda&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-shopping-cart fa-fw&#039;
            },
            {
                text: &#039;Pagos con transferencia&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-money-bill fa-fw&#039;
            }
        ]&quot;

        col2Title=&quot;Productos de software&quot;
        :col2Links=&quot;[
            {
                text: &#039;LibreDTE&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-file-invoice fa-fw&#039;
            },
            {
                text: &#039;API Gateway&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-network-wired&#039;
            },
            {
                text: &#039;BillMySales&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-cash-register fa-fw&#039;
            }
        ]&quot;

        col3Title=&quot;Contáctanos&quot;
        :col3Links=&quot;[
            {
                text: &#039;derafu-twig@example.com&#039;,
                url: &#039;mailto:derafu-twig@example.com&#039;,
                icon: &#039;fa-solid fa-envelope fa-fw&#039;
            },
            {
                text: &#039;Agendar una reunión&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-calendar fa-fw&#039;
            },
            {
                text: &#039;Centro de ayuda&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-question-circle fa-fw&#039;
            }
        ]&quot;

        col4Title=&quot;Derafu ORG&quot;
        col4Html=&quot;&lt;p&gt;Santa Cruz, Chile.&lt;/p&gt;&lt;p&gt;Desde Chile para todo el mundo con ❤️&lt;/p&gt;&quot;
        :col4SocialIcons=&quot;[
            {
                icon: &#039;fa-brands fa-linkedin fa-2x&#039;,
                url: &#039;#&#039;,
                color: &#039;#0077b5&#039;,
                targetBlank: true
            },
            {
                icon: &#039;fa-brands fa-github fa-2x&#039;,
                url: &#039;#&#039;,
                color: &#039;#333&#039;,
                targetBlank: true
            }
        ]&quot;

        leftText=&quot;Copyright © Derafu ORG (Theme: {{ name }})&quot;
        rightText=&quot;Todos los derechos reservados&quot;
        socialIconsCircular=&quot;true&quot;
        margin_bottom=&quot;5&quot;
    /&gt;

    {# Ejemplo 2: Footer Minimalista con 2 columnas #}
    &lt;twig:block-footer
        col1Title=&quot;Nuestra Empresa&quot;
        col1Html=&quot;&lt;p&gt;Soluciones de software innovadoras para empresas modernas.&lt;/p&gt;&quot;
        :col1Links=&quot;[
            {
                text: &#039;Sobre Nosotros&#039;,
                url: &#039;#&#039;
            },
            {
                text: &#039;Contacto&#039;,
                url: &#039;#&#039;
            }
        ]&quot;

        col2Title=&quot;Enlaces Rápidos&quot;
        :col2Links=&quot;[
            {
                text: &#039;Documentación&#039;,
                url: &#039;#&#039;
            },
            {
                text: &#039;Soporte&#039;,
                url: &#039;#&#039;
            }
        ]&quot;

        leftText=&quot;© 2024 Derafu ORG (Theme: {{ name }})&quot;
        theme=&quot;{{ theme }}&quot;
        margin_top=&quot;2&quot;
        margin_bottom=&quot;5&quot;
    /&gt;

    {# Ejemplo 3: Footer con énfasis en redes sociales #}
    &lt;twig:block-footer
        col1Title=&quot;Síguenos&quot;
        col1Html=&quot;&lt;p&gt;Mantente conectado con nosotros en redes sociales&lt;/p&gt;&quot;
        :col1SocialIcons=&quot;[
            {
                icon: &#039;fa-brands fa-facebook fa-2x&#039;,
                url: &#039;http://www.example.com&#039;,
                color: &#039;#1877f2&#039;,
                targetBlank: true
            },
            {
                icon: &#039;fa-brands fa-twitter fa-2x&#039;,
                url: &#039;#&#039;,
                color: &#039;#1da1f2&#039;,
                targetBlank: true
            },
            {
                icon: &#039;fa-brands fa-instagram fa-2x&#039;,
                url: &#039;#&#039;,
                color: &#039;#e4405f&#039;,
                targetBlank: true
            },
            {
                icon: &#039;fa-brands fa-youtube fa-2x&#039;,
                url: &#039;#&#039;,
                color: &#039;#ff0000&#039;,
                targetBlank: true
            }
        ]&quot;

        col2Title=&quot;Comunidad&quot;
        :col2Links=&quot;[
            {
                text: &#039;Blog&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-blog&#039;
            },
            {
                text: &#039;Foro&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-comments&#039;
            },
            {
                text: &#039;Eventos&#039;,
                url: &#039;#&#039;,
                icon: &#039;fa-solid fa-calendar-days&#039;
            }
        ]&quot;
        :col2SocialIcons=&quot;[
            {
                icon: &#039;fa-brands fa-discord fa-2x&#039;,
                url: &#039;#&#039;,
                color: &#039;#5865f2&#039;,
                targetBlank: true
            },
            {
                icon: &#039;fa-brands fa-telegram fa-2x&#039;,
                url: &#039;#&#039;,
                color: &#039;#0088cc&#039;,
                targetBlank: true
            }
        ]&quot;

        leftText=&quot;Únete a nuestra comunidad (Theme: {{ name }})&quot;
        rightText=&#039;&lt;a href=&quot;#&quot;&gt;Política de Privacidad&lt;/a&gt; | &lt;a href=&quot;#&quot;&gt;Términos de Uso&lt;/a&gt;&#039;
        theme=&quot;{{ theme }}&quot;
        margin_top=&quot;2&quot;
    /&gt;
{% endfor %}
{% endblock %}
</code></pre>
                    </div>
                                    </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/twig" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/twig
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/twig" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/twig" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../index.html">
                            README
                        </a>
                    </div>

                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Themes</div>
                              <span class="smal text-muted">Color Palettes</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">1</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../themes.html">
                            Predefined Themes
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Components</div>
                              <span class="smal text-muted">Blocks</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">35</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../components.html">
                            All the Components
                        </a>
                                                    <a class="list-group-item list-group-item-action " href="block-accordion.html" data-bs-toggle="tooltip" title="Collapsible content sections.">
                                Accordion
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-alert.html" data-bs-toggle="tooltip" title="Alert messages for user feedback.">
                                Alert
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-boxes.html" data-bs-toggle="tooltip" title="Large box display for information.">
                                Big Boxes
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-box.html" data-bs-toggle="tooltip" title="Simple box container for content.">
                                Box
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-cta.html" data-bs-toggle="tooltip" title="Call-to-action component.">
                                CTA
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card.html" data-bs-toggle="tooltip" title="Card component for content display.">
                                Card
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card-grid.html" data-bs-toggle="tooltip" title="Grid layout for multiple cards.">
                                Card Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-comparison.html" data-bs-toggle="tooltip" title="Side-by-side comparison.">
                                Comparison
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-grid.html" data-bs-toggle="tooltip" title="Grid layout for key features.">
                                Features Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-icon.html" data-bs-toggle="tooltip" title="Icon-based feature display.">
                                Features Icon
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-list.html" data-bs-toggle="tooltip" title="List-style feature presentation.">
                                Features List
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-table.html" data-bs-toggle="tooltip" title="Tabular feature comparison.">
                                Features Table
                            </a>
                                                    <a class="list-group-item list-group-item-action active" href="block-footer.html" data-bs-toggle="tooltip" title="Page footer component with various layouts.">
                                Footer
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-grid.html" data-bs-toggle="tooltip" title="Basic grid layout system for organizing content.">
                                Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-header.html" data-bs-toggle="tooltip" title="Page header component with navigation options.">
                                Header
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-hero.html" data-bs-toggle="tooltip" title="Eye-catching hero section for landing pages.">
                                Hero
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image.html" data-bs-toggle="tooltip" title="Enhanced image display component.">
                                Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image-grid.html" data-bs-toggle="tooltip" title="Grid layout for image galleries.">
                                Image Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-modal.html" data-bs-toggle="tooltip" title="Popup dialog windows.">
                                Modal
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-offcanvas.html" data-bs-toggle="tooltip" title="Hidden sidebars.">
                                Offcanvas
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-quote.html" data-bs-toggle="tooltip" title="Styled blockquote component.">
                                Quote
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-scrollspy.html" data-bs-toggle="tooltip" title="Navigation aid that highlights content sections as users scroll through the page.">
                                Scrollspy
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-stats.html" data-bs-toggle="tooltip" title="Display of statistical data.">
                                Stats
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-steps.html" data-bs-toggle="tooltip" title="Step-by-step guide component with variable steps and arrow design.">
                                Steps
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-table.html" data-bs-toggle="tooltip" title="Data table component with styling options.">
                                Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-tabs.html" data-bs-toggle="tooltip" title="Tabbed content interface, with horizontal and vertical layout.">
                                Tabs
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-team.html" data-bs-toggle="tooltip" title="Showcase of team members.">
                                Team
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-testimonials.html" data-bs-toggle="tooltip" title="Display of testimonials or opinions.">
                                Testimonials
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-image.html" data-bs-toggle="tooltip" title="Combined text and image layout.">
                                Text Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-video.html" data-bs-toggle="tooltip" title="Combined text and video layout.">
                                Text Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-timeline.html" data-bs-toggle="tooltip" title="Chronological event display with configurable alignment.">
                                Timeline
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-title.html" data-bs-toggle="tooltip" title="Customizable title component.">
                                Title
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-toast.html" data-bs-toggle="tooltip" title="Notification messages.">
                                Toast
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video.html" data-bs-toggle="tooltip" title="Video player component.">
                                Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video-grid.html" data-bs-toggle="tooltip" title="Grid layout for multiple videos.">
                                Video Grid
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    
            <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.js"></script>
        <script src="../js/app.min.js"></script>
</body>
</html>
