<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derafu: Twig - UI Component and Extension Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.css" rel="stylesheet" />
    <link href="https://derafu.org/css/styles.min.css" rel="stylesheet" />
        <link href="../css/styles.min.css" rel="stylesheet" />
</head>
<body>
                <div id="header-container" class="sticky-top"></div>
    
            <div class="container">
            <div class="row">
                <main class="col-md-9">
                                                                                                <h1>Block Features Icon</h1>
                            <p class="mb-4"></p>
                                            
                    

<div class="derafu-block-features-icon my-4"  id="block-features-icon--6845e3798d0a3">
    
                        
                
                        
                                        
            
            <div class="derafu-block-features-icon__row">
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-cloud"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Software as a Service</h3>
                        <div class="derafu-block-features-icon__content">
                            We are a cloud software, you need Internet access to <a href='https://www.example.com/' target='_blank'>use it.</a>
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-money-bill"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title"><a href='https://www.example.com/' target='_blank'>Price</a> per company</h3>
                        <div class="derafu-block-features-icon__content">
                            The Plus Service price is per company. If you have 3 companies, you will need to pay for 3 Plus Services.
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-arrows-left-right"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">SII Synchronization</h3>
                        <div class="derafu-block-features-icon__content">
                            Your tax documents are immediately sent to SII and we monitor their status.
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 4</h3>
                        <div class="derafu-block-features-icon__content">
                            Content of feature 4.
                        </div>
                    </div>
                            </div>

                                                </div>


<div class="derafu-block-features-icon my-4"  id="block-features-icon--6845e3798d182">
    
            
                
                        
                                        
                                        
            <div class="derafu-block-features-icon__row">
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--3">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-cloud"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 1</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 1
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--3">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-money-bill"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 2</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 2
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--3">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-arrows-left-right"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 3</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 3
                        </div>
                    </div>
                            </div>

                                                        
                                        
            
            <div class="derafu-block-features-icon__row derafu-block-features-icon__row--centered">
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--2">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 4</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 4
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--2">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 5</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 5
                        </div>
                    </div>
                            </div>

                                                </div>


<div class="derafu-block-features-icon my-4"  id="block-features-icon--6845e3798d245">
    
                        
                
                        
                                        
            
            <div class="derafu-block-features-icon__row">
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-cloud"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 1</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 1
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-money-bill"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 2</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 2
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-arrows-left-right"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 3</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 3
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 4</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 4
                        </div>
                    </div>
                            </div>

                                                        
                                        
            
            <div class="derafu-block-features-icon__row">
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 5</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 5
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 6</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 6
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-bell"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 7</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 7
                        </div>
                    </div>
                                                        <div class="derafu-block-features-icon__item derafu-block-features-icon__item--4">
                        <div class="derafu-block-features-icon__icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <h3 class="derafu-block-features-icon__title">Feature 8</h3>
                        <div class="derafu-block-features-icon__content">
                            Content 8
                        </div>
                    </div>
                            </div>

                                                            </div>


                                                            <div class="mt-4 mb-4">
                        <pre><code class="line-numbers language-twig">{# derafu_twig:templates/pages/components/block-features-icon.html.twig #}

{% extends &#039;layouts/default.html.twig&#039; %}

{% block content %}

{# Case 4 elements (one row of 4) #}
&lt;twig:block-features-icon
    class=&quot;my-4&quot;
    :features=&quot;[
        {
            icon: &#039;fa-solid fa-cloud&#039;,
            title: &#039;Software as a Service&#039;,
            content: &#039;We are a cloud software, you need Internet access to &lt;a href=\&#039;https://www.example.com/\&#039; target=\&#039;_blank\&#039;&gt;use it.&lt;/a&gt;&#039;
        },
        {
            icon: &#039;fa-solid fa-money-bill&#039;,
            title: &#039;&lt;a href=\&#039;https://www.example.com/\&#039; target=\&#039;_blank\&#039;&gt;Price&lt;/a&gt; per company&#039;,
            content: &#039;The Plus Service price is per company. If you have 3 companies, you will need to pay for 3 Plus Services.&#039;
        },
        {
            icon: &#039;fa-solid fa-arrows-left-right&#039;,
            title: &#039;SII Synchronization&#039;,
            content: &#039;Your tax documents are immediately sent to SII and we monitor their status.&#039;
        },
        {
            icon: &#039;fa-solid fa-check&#039;,
            title: &#039;Feature 4&#039;,
            content: &#039;Content of feature 4.&#039;
        }
    ]&quot;
/&gt;

{# Case 5 elements (row of 3 + row of 2) #}
&lt;twig:block-features-icon
    class=&quot;my-4&quot;
    :features=&quot;[
        {
            icon: &#039;fa-solid fa-cloud&#039;,
            title: &#039;Feature 1&#039;,
            content: &#039;Content 1&#039;
        },
        {
            icon: &#039;fa-solid fa-money-bill&#039;,
            title: &#039;Feature 2&#039;,
            content: &#039;Content 2&#039;
        },
        {
            icon: &#039;fa-solid fa-arrows-left-right&#039;,
            title: &#039;Feature 3&#039;,
            content: &#039;Content 3&#039;
        },
        {
            icon: &#039;fa-solid fa-check&#039;,
            title: &#039;Feature 4&#039;,
            content: &#039;Content 4&#039;
        },
        {
            icon: &#039;fa-solid fa-star&#039;,
            title: &#039;Feature 5&#039;,
            content: &#039;Content 5&#039;
        }
    ]&quot;
/&gt;

{# Case 8 elements (two rows of 4) #}
&lt;twig:block-features-icon
    class=&quot;my-4&quot;
    :features=&quot;[
        {
            icon: &#039;fa-solid fa-cloud&#039;,
            title: &#039;Feature 1&#039;,
            content: &#039;Content 1&#039;
        },
        {
            icon: &#039;fa-solid fa-money-bill&#039;,
            title: &#039;Feature 2&#039;,
            content: &#039;Content 2&#039;
        },
        {
            icon: &#039;fa-solid fa-arrows-left-right&#039;,
            title: &#039;Feature 3&#039;,
            content: &#039;Content 3&#039;
        },
        {
            icon: &#039;fa-solid fa-check&#039;,
            title: &#039;Feature 4&#039;,
            content: &#039;Content 4&#039;
        },
        {
            icon: &#039;fa-solid fa-star&#039;,
            title: &#039;Feature 5&#039;,
            content: &#039;Content 5&#039;
        },
        {
            icon: &#039;fa-solid fa-heart&#039;,
            title: &#039;Feature 6&#039;,
            content: &#039;Content 6&#039;
        },
        {
            icon: &#039;fa-solid fa-bell&#039;,
            title: &#039;Feature 7&#039;,
            content: &#039;Content 7&#039;
        },
        {
            icon: &#039;fa-solid fa-user&#039;,
            title: &#039;Feature 8&#039;,
            content: &#039;Content 8&#039;
        }
    ]&quot;
/&gt;

{% endblock %}
</code></pre>
                    </div>
                                    </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/twig" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/twig
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/twig" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/twig" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../index.html">
                            README
                        </a>
                    </div>

                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Themes</div>
                              <span class="smal text-muted">Color Palettes</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">1</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../themes.html">
                            Predefined Themes
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Components</div>
                              <span class="smal text-muted">Blocks</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">35</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../components.html">
                            All the Components
                        </a>
                                                    <a class="list-group-item list-group-item-action " href="block-accordion.html" data-bs-toggle="tooltip" title="">
                                Accordion
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-alert.html" data-bs-toggle="tooltip" title="">
                                Alert
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-boxes.html" data-bs-toggle="tooltip" title="">
                                Big Boxes
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-box.html" data-bs-toggle="tooltip" title="">
                                Box
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-cta.html" data-bs-toggle="tooltip" title="">
                                CTA
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card.html" data-bs-toggle="tooltip" title="">
                                Card
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card-grid.html" data-bs-toggle="tooltip" title="">
                                Card Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-comparison.html" data-bs-toggle="tooltip" title="">
                                Comparison
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-grid.html" data-bs-toggle="tooltip" title="">
                                Features Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action active" href="block-features-icon.html" data-bs-toggle="tooltip" title="">
                                Features Icon
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-list.html" data-bs-toggle="tooltip" title="">
                                Features List
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-table.html" data-bs-toggle="tooltip" title="">
                                Features Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-footer.html" data-bs-toggle="tooltip" title="">
                                Footer
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-grid.html" data-bs-toggle="tooltip" title="">
                                Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-header.html" data-bs-toggle="tooltip" title="">
                                Header
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-hero.html" data-bs-toggle="tooltip" title="">
                                Hero
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image.html" data-bs-toggle="tooltip" title="">
                                Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image-grid.html" data-bs-toggle="tooltip" title="">
                                Image Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-modal.html" data-bs-toggle="tooltip" title="">
                                Modal
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-offcanvas.html" data-bs-toggle="tooltip" title="">
                                Offcanvas
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-quote.html" data-bs-toggle="tooltip" title="">
                                Quote
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-scrollspy.html" data-bs-toggle="tooltip" title="">
                                Scrollspy
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-stats.html" data-bs-toggle="tooltip" title="">
                                Stats
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-steps.html" data-bs-toggle="tooltip" title="">
                                Steps
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-table.html" data-bs-toggle="tooltip" title="">
                                Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-tabs.html" data-bs-toggle="tooltip" title="">
                                Tabs
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-team.html" data-bs-toggle="tooltip" title="">
                                Team
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-testimonials.html" data-bs-toggle="tooltip" title="">
                                Testimonials
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-image.html" data-bs-toggle="tooltip" title="">
                                Text Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-video.html" data-bs-toggle="tooltip" title="">
                                Text Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-timeline.html" data-bs-toggle="tooltip" title="">
                                Timeline
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-title.html" data-bs-toggle="tooltip" title="">
                                Title
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-toast.html" data-bs-toggle="tooltip" title="">
                                Toast
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video.html" data-bs-toggle="tooltip" title="">
                                Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video-grid.html" data-bs-toggle="tooltip" title="">
                                Video Grid
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    
            <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.js"></script>
        <script src="../js/app.min.js"></script>
</body>
</html>
