<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derafu: Twig - UI Component and Extension Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.css" rel="stylesheet" />
    <link href="https://derafu.org/css/styles.min.css" rel="stylesheet" />
        <link href="../css/styles.min.css" rel="stylesheet" />
</head>
<body>
                <div id="header-container" class="sticky-top"></div>
    
            <div class="container">
            <div class="row">
                <main class="col-md-9">
                                                                                                <h1>Block Offcanvas</h1>
                            <p class="mb-4"></p>
                                            
                    
<div class="mb-4">
    <button class="btn btn-light d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-left">
        Left Menu
    </button>
</div>


<div
    class="offcanvas offcanvas-start "
    
    id="offcanvas-left"
    tabindex="-1"
    aria-labelledby="offcanvas-left-label"
    data-bs-backdrop="false"    >
            <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvas-left-label">Navigation Menu</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
        <div class="offcanvas-body">
        <ul class='nav flex-column'>
        <li class='nav-item'><a class='nav-link' href='block-offcanvas.html#'>Home</a></li>
        <li class='nav-item'><a class='nav-link' href='block-offcanvas.html#'>Products</a></li>
        <li class='nav-item'><a class='nav-link' href='block-offcanvas.html#'>Services</a></li>
        <li class='nav-item'><a class='nav-link' href='block-offcanvas.html#'>Contact</a></li>
    </ul>
            </div>
</div>


<div class="mt-2 mb-3">
    <button class="btn btn-light d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-right">
        Edit Profile
    </button>
</div>


<div
    class="offcanvas offcanvas-end "
    
    id="offcanvas-right"
    tabindex="-1"
    aria-labelledby="offcanvas-right-label"
    data-bs-backdrop="false"    >
            <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvas-right-label">Edit Profile</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
        <div class="offcanvas-body">
        <form id='profileForm'>
        <div class='mb-3'>
            <label class='form-label'>Name</label>
            <input type='text' class='form-control'>
        </div>
        <div class='mb-3'>
            <label class='form-label'>Email</label>
            <input type='email' class='form-control'>
        </div>
        <div class='mb-3'>
            <label class='form-label'>Bio</label>
            <textarea class='form-control' rows='3'></textarea>
        </div>
    </form>
                    <div class="derafu-block-offcanvas__buttons">
                                    <button type="button"
                        class="btn btn-light"
                        data-bs-dismiss="offcanvas"                        >
                        Cancel
                    </button>
                                    <button type="button"
                        class="btn btn-success"
                                                onclick=&quot;document.getElementById('profileForm').submit()&quot;>
                        Save
                    </button>
                            </div>
            </div>
</div>


<div class="mt-3 mb-4">
    <button class="btn btn-light d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-top">
        Notifications
    </button>
</div>


<div
    class="offcanvas offcanvas-top "
    
    id="offcanvas-top"
    tabindex="-1"
    aria-labelledby="offcanvas-top-label"
    data-bs-backdrop="false"    >
            <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvas-top-label">Notifications</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
        <div class="offcanvas-body">
        <div class='list-group'>
        <a href='block-offcanvas.html#' class='list-group-item list-group-item-action'>
            <div class='d-flex w-100 justify-content-between'>
                <h6 class='mb-1'>New message</h6>
                <small>3 mins ago</small>
            </div>
            <p class='mb-1'>You have a new support message.</p>
        </a>
        <!-- More notifications... -->
    </div>
            </div>
</div>


<div class="mt-2 mb-3">
    <button class="btn btn-light d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-bottom">
        Music Player
    </button>
</div>


<div
    class="offcanvas offcanvas-bottom "
    
    id="offcanvas-bottom"
    tabindex="-1"
    aria-labelledby="offcanvas-bottom-label"
    data-bs-backdrop="false"    >
        <div class="offcanvas-body">
        <div class='d-flex align-items-center justify-content-between'>
        <div class='d-flex align-items-center'>
            <img src='../img/block-hero.jpeg' width='50' height='50' class='me-3'>
            <div>
                <h6 class='mb-0'>Song Name</h6>
                <small>Artist</small>
            </div>
        </div>
        <div class='btn-group'>
            <button class='btn btn-link'><i class='fas fa-backward'></i></button>
            <button class='btn btn-link'><i class='fas fa-play'></i></button>
            <button class='btn btn-link'><i class='fas fa-forward'></i></button>
        </div>
    </div>
            </div>
</div>


<div class="mt-2 mb-3">
    <button class="btn btn-light d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-scroll">
        Documentation
    </button>
</div>


<div
    class="offcanvas offcanvas-end "
    
    id="offcanvas-scroll"
    tabindex="-1"
    aria-labelledby="offcanvas-scroll-label"
    data-bs-backdrop="false"    >
            <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvas-scroll-label">Documentation</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
        <div class="offcanvas-body">
        <div>
        <h4>Introduction</h4>
        <p>Lorem ipsum dolor sit amet...</p>
        <h4>Getting Started</h4>
        <p>Sed do eiusmod tempor incididunt...</p>
        <h4>Configuration</h4>
        <p>Ut enim ad minim veniam...</p>
        <!-- More content to demonstrate scroll -->
    </div>
                    <div class="derafu-block-offcanvas__buttons">
                                    <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="offcanvas"                        >
                        Close
                    </button>
                            </div>
            </div>
</div>



                                                            <div class="mt-4 mb-4">
                        <pre><code class="line-numbers language-twig">{# derafu_twig:templates/pages/components/block-offcanvas.html.twig #}

{% extends &#039;layouts/default.html.twig&#039; %}

{% block content %}

{# Left Offcanvas (start) #}
&lt;div class=&quot;mb-4&quot;&gt;
    &lt;button class=&quot;btn btn-light d-block&quot; type=&quot;button&quot; data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#offcanvas-left&quot;&gt;
        Left Menu
    &lt;/button&gt;
&lt;/div&gt;

&lt;twig:block-offcanvas
    id=&quot;offcanvas-left&quot;
    position=&quot;start&quot;
    title=&quot;Navigation Menu&quot;
    content=&quot;&lt;ul class=&#039;nav flex-column&#039;&gt;
        &lt;li class=&#039;nav-item&#039;&gt;&lt;a class=&#039;nav-link&#039; href=&#039;#&#039;&gt;Home&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&#039;nav-item&#039;&gt;&lt;a class=&#039;nav-link&#039; href=&#039;#&#039;&gt;Products&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&#039;nav-item&#039;&gt;&lt;a class=&#039;nav-link&#039; href=&#039;#&#039;&gt;Services&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&#039;nav-item&#039;&gt;&lt;a class=&#039;nav-link&#039; href=&#039;#&#039;&gt;Contact&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;&quot;
/&gt;

{# Right Offcanvas with Form #}
&lt;div class=&quot;mt-2 mb-3&quot;&gt;
    &lt;button class=&quot;btn btn-light d-block&quot; type=&quot;button&quot; data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#offcanvas-right&quot;&gt;
        Edit Profile
    &lt;/button&gt;
&lt;/div&gt;

&lt;twig:block-offcanvas
    id=&quot;offcanvas-right&quot;
    position=&quot;end&quot;
    title=&quot;Edit Profile&quot;
    content=&quot;&lt;form id=&#039;profileForm&#039;&gt;
        &lt;div class=&#039;mb-3&#039;&gt;
            &lt;label class=&#039;form-label&#039;&gt;Name&lt;/label&gt;
            &lt;input type=&#039;text&#039; class=&#039;form-control&#039;&gt;
        &lt;/div&gt;
        &lt;div class=&#039;mb-3&#039;&gt;
            &lt;label class=&#039;form-label&#039;&gt;Email&lt;/label&gt;
            &lt;input type=&#039;email&#039; class=&#039;form-control&#039;&gt;
        &lt;/div&gt;
        &lt;div class=&#039;mb-3&#039;&gt;
            &lt;label class=&#039;form-label&#039;&gt;Bio&lt;/label&gt;
            &lt;textarea class=&#039;form-control&#039; rows=&#039;3&#039;&gt;&lt;/textarea&gt;
        &lt;/div&gt;
    &lt;/form&gt;&quot;
    :buttons=&quot;[
        {
            text: &#039;Cancel&#039;,
            type: &#039;light&#039;,
            dismiss: true
        },
        {
            text: &#039;Save&#039;,
            type: &#039;success&#039;,
            attributes: &#039;onclick=&amp;quot;document.getElementById(\&#039;profileForm\&#039;).submit()&amp;quot;&#039;
        }
    ]&quot;
/&gt;

{# Top Offcanvas #}
&lt;div class=&quot;mt-3 mb-4&quot;&gt;
    &lt;button class=&quot;btn btn-light d-block&quot; type=&quot;button&quot; data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#offcanvas-top&quot;&gt;
        Notifications
    &lt;/button&gt;
&lt;/div&gt;

&lt;twig:block-offcanvas
    id=&quot;offcanvas-top&quot;
    position=&quot;top&quot;
    title=&quot;Notifications&quot;
    :scrollable=&quot;true&quot;
    content=&quot;&lt;div class=&#039;list-group&#039;&gt;
        &lt;a href=&#039;#&#039; class=&#039;list-group-item list-group-item-action&#039;&gt;
            &lt;div class=&#039;d-flex w-100 justify-content-between&#039;&gt;
                &lt;h6 class=&#039;mb-1&#039;&gt;New message&lt;/h6&gt;
                &lt;small&gt;3 mins ago&lt;/small&gt;
            &lt;/div&gt;
            &lt;p class=&#039;mb-1&#039;&gt;You have a new support message.&lt;/p&gt;
        &lt;/a&gt;
        &lt;!-- More notifications... --&gt;
    &lt;/div&gt;&quot;
/&gt;

{# Bottom Offcanvas without Backdrop #}
&lt;div class=&quot;mt-2 mb-3&quot;&gt;
    &lt;button class=&quot;btn btn-light d-block&quot; type=&quot;button&quot; data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#offcanvas-bottom&quot;&gt;
        Music Player
    &lt;/button&gt;
&lt;/div&gt;

&lt;twig:block-offcanvas
    id=&quot;offcanvas-bottom&quot;
    position=&quot;bottom&quot;
    :withBackdrop=&quot;false&quot;
    :showClose=&quot;false&quot;
    content=&quot;&lt;div class=&#039;d-flex align-items-center justify-content-between&#039;&gt;
        &lt;div class=&#039;d-flex align-items-center&#039;&gt;
            &lt;img src=&#039;{{ base_path }}/img/block-hero.jpeg&#039; width=&#039;50&#039; height=&#039;50&#039; class=&#039;me-3&#039;&gt;
            &lt;div&gt;
                &lt;h6 class=&#039;mb-0&#039;&gt;Song Name&lt;/h6&gt;
                &lt;small&gt;Artist&lt;/small&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&#039;btn-group&#039;&gt;
            &lt;button class=&#039;btn btn-link&#039;&gt;&lt;i class=&#039;fas fa-backward&#039;&gt;&lt;/i&gt;&lt;/button&gt;
            &lt;button class=&#039;btn btn-link&#039;&gt;&lt;i class=&#039;fas fa-play&#039;&gt;&lt;/i&gt;&lt;/button&gt;
            &lt;button class=&#039;btn btn-link&#039;&gt;&lt;i class=&#039;fas fa-forward&#039;&gt;&lt;/i&gt;&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;&quot;
/&gt;

{# Offcanvas with Scroll and No Backdrop #}
&lt;div class=&quot;mt-2 mb-3&quot;&gt;
    &lt;button class=&quot;btn btn-light d-block&quot; type=&quot;button&quot; data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#offcanvas-scroll&quot;&gt;
        Documentation
    &lt;/button&gt;
&lt;/div&gt;

&lt;twig:block-offcanvas
    id=&quot;offcanvas-scroll&quot;
    position=&quot;end&quot;
    title=&quot;Documentation&quot;
    :scrollable=&quot;true&quot;
    :withBackdrop=&quot;false&quot;
    content=&quot;&lt;div&gt;
        &lt;h4&gt;Introduction&lt;/h4&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
        &lt;h4&gt;Getting Started&lt;/h4&gt;
        &lt;p&gt;Sed do eiusmod tempor incididunt...&lt;/p&gt;
        &lt;h4&gt;Configuration&lt;/h4&gt;
        &lt;p&gt;Ut enim ad minim veniam...&lt;/p&gt;
        &lt;!-- More content to demonstrate scroll --&gt;
    &lt;/div&gt;&quot;
    :buttons=&quot;[
        {
            text: &#039;Close&#039;,
            type: &#039;secondary&#039;,
            dismiss: true
        }
    ]&quot;
/&gt;

{% endblock %}
</code></pre>
                    </div>
                                    </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/twig" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/twig
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/twig" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/twig" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../index.html">
                            README
                        </a>
                    </div>

                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Themes</div>
                              <span class="smal text-muted">Color Palettes</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">1</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../themes.html">
                            Predefined Themes
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Components</div>
                              <span class="smal text-muted">Blocks</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">36</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../components.html">
                            All the Components
                        </a>
                                                    <a class="list-group-item list-group-item-action " href="block-accordion.html" data-bs-toggle="tooltip" title="">
                                Accordion
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-alert.html" data-bs-toggle="tooltip" title="">
                                Alert
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-boxes.html" data-bs-toggle="tooltip" title="">
                                Big Boxes
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-box.html" data-bs-toggle="tooltip" title="">
                                Box
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-cta.html" data-bs-toggle="tooltip" title="">
                                CTA
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card.html" data-bs-toggle="tooltip" title="">
                                Card
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card-grid.html" data-bs-toggle="tooltip" title="">
                                Card Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-comparison.html" data-bs-toggle="tooltip" title="">
                                Comparison
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-grid.html" data-bs-toggle="tooltip" title="">
                                Features Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-icon.html" data-bs-toggle="tooltip" title="">
                                Features Icon
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-list.html" data-bs-toggle="tooltip" title="">
                                Features List
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-table.html" data-bs-toggle="tooltip" title="">
                                Features Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-footer.html" data-bs-toggle="tooltip" title="">
                                Footer
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-grid.html" data-bs-toggle="tooltip" title="">
                                Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-header.html" data-bs-toggle="tooltip" title="">
                                Header
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-hero.html" data-bs-toggle="tooltip" title="">
                                Hero
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image.html" data-bs-toggle="tooltip" title="">
                                Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image-grid.html" data-bs-toggle="tooltip" title="">
                                Image Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-media-list.html" data-bs-toggle="tooltip" title="">
                                Media List
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-modal.html" data-bs-toggle="tooltip" title="">
                                Modal
                            </a>
                                                    <a class="list-group-item list-group-item-action active" href="block-offcanvas.html" data-bs-toggle="tooltip" title="">
                                Offcanvas
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-quote.html" data-bs-toggle="tooltip" title="">
                                Quote
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-scrollspy.html" data-bs-toggle="tooltip" title="">
                                Scrollspy
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-stats.html" data-bs-toggle="tooltip" title="">
                                Stats
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-steps.html" data-bs-toggle="tooltip" title="">
                                Steps
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-table.html" data-bs-toggle="tooltip" title="">
                                Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-tabs.html" data-bs-toggle="tooltip" title="">
                                Tabs
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-team.html" data-bs-toggle="tooltip" title="">
                                Team
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-testimonials.html" data-bs-toggle="tooltip" title="">
                                Testimonials
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-image.html" data-bs-toggle="tooltip" title="">
                                Text Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-video.html" data-bs-toggle="tooltip" title="">
                                Text Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-timeline.html" data-bs-toggle="tooltip" title="">
                                Timeline
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-title.html" data-bs-toggle="tooltip" title="">
                                Title
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-toast.html" data-bs-toggle="tooltip" title="">
                                Toast
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video.html" data-bs-toggle="tooltip" title="">
                                Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video-grid.html" data-bs-toggle="tooltip" title="">
                                Video Grid
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    
            <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.js"></script>
        <script src="../js/app.min.js"></script>
</body>
</html>
