<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derafu: Twig - UI Component and Extension Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.css" rel="stylesheet" />
    <link href="https://derafu.org/css/styles.min.css" rel="stylesheet" />
        <link href="../css/styles.min.css" rel="stylesheet" />
</head>
<body>
                <div id="header-container" class="sticky-top"></div>
    
            <div class="container">
            <div class="row">
                <main class="col-md-9">
                                                                                                <h1>Block Modal</h1>
                            <p class="mb-4"></p>
                                            
                    
<div class="mb-4">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-1">
        Open simple modal
    </button>
</div>

<div
    class="modal fade "
    
    id="modal-1"
    tabindex="-1"
    aria-labelledby="modal-1-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        
        
        ">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-1-label">Modal Title</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                This is a basic modal with title and <a href='https://www.example.com/' target='_blank'>close button.</a>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"                            >
                            Close
                        </button>
                                            <button type="button"
                            class="btn btn-primary"
                                                        >
                            Save Changes
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="mt-2 mb-3">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-2">
        Open complex modal
    </button>
</div>

<div
    class="modal fade "
     withBackdrop
    id="modal-2"
    tabindex="-1"
    aria-labelledby="modal-2-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        modal-lg
        modal-dialog-centered
        ">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-2-label">Confirmation Required</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                <p>This action cannot be undone. Are you sure you want to continue?</p>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"                            >
                            Cancel
                        </button>
                                            <button type="button"
                            class="btn btn-danger"
                                                        onclick='handleConfirmation()'>
                            Yes, continue
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="mt-3 mb-4">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-3">
        Open fullscreen modal with scrollable content
    </button>
</div>

<div
    class="modal fade "
    
    id="modal-3"
    tabindex="-1"
    aria-labelledby="modal-3-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        modal-fullscreen
        
        modal-dialog-scrollable">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-3-label">Terms and Conditions</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                <div style='height: 1000px'>Very long content...</div>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-success"
                                                        >
                            Accept
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="mt-0">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-basic">
        Open basic modal
    </button>
</div>

<div
    class="modal fade "
    
    id="modal-basic"
    tabindex="-1"
    aria-labelledby="modal-basic-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        
        
        ">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-basic-label">Basic Modal</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                <p>This is a simple modal with title and close button.</p>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"                            >
                            Close
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="mt-2 mb-2">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-no-close">
        Modal without X
    </button>
</div>

<div
    class="modal fade "
    
    id="modal-no-close"
    tabindex="-1"
    aria-labelledby="modal-no-close-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        
        
        ">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-no-close-label">You can&#039;t close me easily</h5>
                                                        </div>
                        <div class="modal-body">
                <p>This modal doesn't have the X button to close.</p>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-warning"
                            data-bs-dismiss="modal"                            >
                            Got it
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="mt-3 mb-4">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-static">
        Modal that does not close
    </button>
</div>

<div
    class="modal fade "
     withBackdrop
    id="modal-static"
    tabindex="-1"
    aria-labelledby="modal-static-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        
        
        ">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-static-label">You must make a decision</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                <p>This modal won't close when clicking outside. You must use one of the buttons.</p>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"                            >
                            Cancel
                        </button>
                                            <button type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal"                            >
                            Accept
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="my-4">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-sm-centered">
        Modal SM centered
    </button>
</div>

<div
    class="modal fade "
    
    id="modal-sm-centered"
    tabindex="-1"
    aria-labelledby="modal-sm-centered-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        modal-sm
        modal-dialog-centered
        ">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-sm-centered-label">Small and Centered</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                <p>A small modal centered vertically.</p>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-info"
                            data-bs-dismiss="modal"                            >
                            OK
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="mt-3 mb-4">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-lg-scroll">
        Modal large with scroll
    </button>
</div>

<div
    class="modal fade "
    
    id="modal-lg-scroll"
    tabindex="-1"
    aria-labelledby="modal-lg-scroll-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        modal-lg
        
        modal-dialog-scrollable">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-lg-scroll-label">Terms and Conditions</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                <div>
        <h4>1. Introduction</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"                            >
                            Reject
                        </button>
                                            <button type="button"
                            class="btn btn-success"
                            data-bs-dismiss="modal"                            >
                            Accept Terms
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="mt-2 mb-3">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-xl-form">
        Form in modal XL
    </button>
</div>

<div
    class="modal fade "
    
    id="modal-xl-form"
    tabindex="-1"
    aria-labelledby="modal-xl-form-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        modal-xl
        modal-dialog-centered
        ">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-xl-form-label">User Registration</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                <form id='userForm'>
        <div class='row'>
            <div class='col-md-6 mb-3'>
                <label for='firstName' class='form-label'>Name</label>
                <input type='text' class='form-control' id='firstName' required>
            </div>
        </div>
    </form>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"                            >
                            Cancel
                        </button>
                                            <button type="button"
                            class="btn btn-dark"
                                                        onclick=&quot;document.getElementById('userForm').submit()&quot;>
                            Register
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="mt-3 mb-4">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-fullscreen">
        View in full screen
    </button>
</div>

<div
    class="modal fade "
    
    id="modal-fullscreen"
    tabindex="-1"
    aria-labelledby="modal-fullscreen-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        modal-fullscreen
        
        ">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-fullscreen-label">Fullscreen Mode</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                <div class='text-center'>
        <h1 class='display-1'>👋</h1>
        <p class='lead'>This modal takes up the entire screen</p>
    </div>
            </div>
                            <div class="modal-footer">
                                            <button type="button"
                            class="btn btn-outline-primary"
                            data-bs-dismiss="modal"                            >
                            Exit
                        </button>
                                    </div>
                    </div>
    </div>
</div>


<div class="my-4">
    <button type="button" class="btn btn-light d-block" data-bs-toggle="modal" data-bs-target="#modal-no-footer">
        Modal without footer
    </button>
</div>

<div
    class="modal fade "
    
    id="modal-no-footer"
    tabindex="-1"
    aria-labelledby="modal-no-footer-label"
    aria-hidden="true"
    >
    <div class="modal-dialog
        
        
        ">
        <div class="modal-content">
                            <div class="modal-header">
                                            <h5 class="modal-title" id="modal-no-footer-label">Content Only</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                        <div class="modal-body">
                <p>This modal has no buttons in the footer, only the close button in the header.</p>
            </div>
                    </div>
    </div>
</div>



                                                            <div class="mt-4 mb-4">
                        <pre><code class="line-numbers language-twig">{# derafu_twig:templates/pages/components/block-modal.html.twig #}

{% extends &#039;layouts/default.html.twig&#039; %}

{% block content %}

{# Simple modal #}
&lt;div class=&quot;mb-4&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-1&quot;&gt;
        Open simple modal
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-1&quot;
    title=&quot;Modal Title&quot;
    content=&quot;This is a basic modal with title and &lt;a href=&#039;https://www.example.com/&#039; target=&#039;_blank&#039;&gt;close button.&lt;/a&gt;&quot;
    :buttons=&quot;[
        {
            text: &#039;Close&#039;,
            type: &#039;secondary&#039;,
            dismiss: true
        },
        {
            text: &#039;Save Changes&#039;,
            type: &#039;primary&#039;
        }
    ]&quot;
/&gt;

{# Complex modal #}
&lt;div class=&quot;mt-2 mb-3&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-2&quot;&gt;
        Open complex modal
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-2&quot;
    title=&quot;Confirmation Required&quot;
    content=&quot;&lt;p&gt;This action cannot be undone. Are you sure you want to continue?&lt;/p&gt;&quot;
    size=&quot;lg&quot;
    :centered=&quot;true&quot;
    :withBackdrop=&quot;true&quot;
    :buttons=&quot;[
        {
            text: &#039;Cancel&#039;,
            type: &#039;light&#039;,
            dismiss: true
        },
        {
            text: &#039;Yes, continue&#039;,
            type: &#039;danger&#039;,
            attributes: &#039;onclick=\&#039;handleConfirmation()\&#039;&#039;
        }
    ]&quot;
/&gt;

{# Fullscreen modal with scrollable content #}
&lt;div class=&quot;mt-3 mb-4&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-3&quot;&gt;
        Open fullscreen modal with scrollable content
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-3&quot;
    title=&quot;Terms and Conditions&quot;
    content=&quot;&lt;div style=&#039;height: 1000px&#039;&gt;Very long content...&lt;/div&gt;&quot;
    size=&quot;fullscreen&quot;
    :scrollable=&quot;true&quot;
    :buttons=&quot;[
        {
            text: &#039;Accept&#039;,
            type: &#039;success&#039;
        }
    ]&quot;
/&gt;

{# Basic modal #}
&lt;div class=&quot;mt-0&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-basic&quot;&gt;
        Open basic modal
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-basic&quot;
    title=&quot;Basic Modal&quot;
    content=&quot;&lt;p&gt;This is a simple modal with title and close button.&lt;/p&gt;&quot;
    :buttons=&quot;[
        {
            text: &#039;Close&#039;,
            type: &#039;secondary&#039;,
            dismiss: true
        }
    ]&quot;
/&gt;

{# Modal without close button #}
&lt;div class=&quot;mt-2 mb-2&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-no-close&quot;&gt;
        Modal without X
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-no-close&quot;
    title=&quot;You can&#039;t close me easily&quot;
    content=&quot;&lt;p&gt;This modal doesn&#039;t have the X button to close.&lt;/p&gt;&quot;
    :showClose=&quot;false&quot;
    :buttons=&quot;[
        {
            text: &#039;Got it&#039;,
            type: &#039;warning&#039;,
            dismiss: true
        }
    ]&quot;
/&gt;

{# Modal with static backdrop #}
&lt;div class=&quot;mt-3 mb-4&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-static&quot;&gt;
        Modal that does not close
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-static&quot;
    title=&quot;You must make a decision&quot;
    content=&quot;&lt;p&gt;This modal won&#039;t close when clicking outside. You must use one of the buttons.&lt;/p&gt;&quot;
    :withBackdrop=&quot;true&quot;
    :buttons=&quot;[
        {
            text: &#039;Cancel&#039;,
            type: &#039;light&#039;,
            dismiss: true
        },
        {
            text: &#039;Accept&#039;,
            type: &#039;danger&#039;,
            dismiss: true
        }
    ]&quot;
/&gt;

{# Modal centered with small size #}
&lt;div class=&quot;my-4&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-sm-centered&quot;&gt;
        Modal SM centered
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-sm-centered&quot;
    title=&quot;Small and Centered&quot;
    content=&quot;&lt;p&gt;A small modal centered vertically.&lt;/p&gt;&quot;
    size=&quot;sm&quot;
    :centered=&quot;true&quot;
    :buttons=&quot;[
        {
            text: &#039;OK&#039;,
            type: &#039;info&#039;,
            dismiss: true
        }
    ]&quot;
/&gt;

{# Modal large with scroll #}
&lt;div class=&quot;mt-3 mb-4&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-lg-scroll&quot;&gt;
        Modal large with scroll
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-lg-scroll&quot;
    title=&quot;Terms and Conditions&quot;
    content=&quot;&lt;div&gt;
        &lt;h4&gt;1. Introduction&lt;/h4&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit...&lt;/p&gt;
    &lt;/div&gt;&quot;
    size=&quot;lg&quot;
    :scrollable=&quot;true&quot;
    :buttons=&quot;[
        {
            text: &#039;Reject&#039;,
            type: &#039;light&#039;,
            dismiss: true
        },
        {
            text: &#039;Accept Terms&#039;,
            type: &#039;success&#039;,
            dismiss: true
        }
    ]&quot;
/&gt;

{# Modal extra large with form #}
&lt;div class=&quot;mt-2 mb-3&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-xl-form&quot;&gt;
        Form in modal XL
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-xl-form&quot;
    title=&quot;User Registration&quot;
    content=&quot;&lt;form id=&#039;userForm&#039;&gt;
        &lt;div class=&#039;row&#039;&gt;
            &lt;div class=&#039;col-md-6 mb-3&#039;&gt;
                &lt;label for=&#039;firstName&#039; class=&#039;form-label&#039;&gt;Name&lt;/label&gt;
                &lt;input type=&#039;text&#039; class=&#039;form-control&#039; id=&#039;firstName&#039; required&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/form&gt;&quot;
    size=&quot;xl&quot;
    :centered=&quot;true&quot;
    :buttons=&quot;[
        {
            text: &#039;Cancel&#039;,
            type: &#039;secondary&#039;,
            dismiss: true
        },
        {
            text: &#039;Register&#039;,
            type: &#039;dark&#039;,
            attributes: &#039;onclick=&amp;quot;document.getElementById(\&#039;userForm\&#039;).submit()&amp;quot;&#039;
        }
    ]&quot;
/&gt;

{# Modal fullscreen #}
&lt;div class=&quot;mt-3 mb-4&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-fullscreen&quot;&gt;
        View in full screen
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-fullscreen&quot;
    title=&quot;Fullscreen Mode&quot;
    content=&quot;&lt;div class=&#039;text-center&#039;&gt;
        &lt;h1 class=&#039;display-1&#039;&gt;👋&lt;/h1&gt;
        &lt;p class=&#039;lead&#039;&gt;This modal takes up the entire screen&lt;/p&gt;
    &lt;/div&gt;&quot;
    size=&quot;fullscreen&quot;
    :buttons=&quot;[
        {
            text: &#039;Exit&#039;,
            type: &#039;outline-primary&#039;,
            dismiss: true
        }
    ]&quot;
/&gt;

{# Modal without footer #}
&lt;div class=&quot;my-4&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-light d-block&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modal-no-footer&quot;&gt;
        Modal without footer
    &lt;/button&gt;
&lt;/div&gt;
&lt;twig:block-modal
    id=&quot;modal-no-footer&quot;
    title=&quot;Content Only&quot;
    content=&quot;&lt;p&gt;This modal has no buttons in the footer, only the close button in the header.&lt;/p&gt;&quot;
/&gt;

{% endblock %}
</code></pre>
                    </div>
                                    </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/twig" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/twig
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/twig" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/twig" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../index.html">
                            README
                        </a>
                    </div>

                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Themes</div>
                              <span class="smal text-muted">Color Palettes</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">1</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../themes.html">
                            Predefined Themes
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Components</div>
                              <span class="smal text-muted">Blocks</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">35</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../components.html">
                            All the Components
                        </a>
                                                    <a class="list-group-item list-group-item-action " href="block-accordion.html" data-bs-toggle="tooltip" title="">
                                Accordion
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-alert.html" data-bs-toggle="tooltip" title="">
                                Alert
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-boxes.html" data-bs-toggle="tooltip" title="">
                                Big Boxes
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-box.html" data-bs-toggle="tooltip" title="">
                                Box
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-cta.html" data-bs-toggle="tooltip" title="">
                                CTA
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card.html" data-bs-toggle="tooltip" title="">
                                Card
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card-grid.html" data-bs-toggle="tooltip" title="">
                                Card Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-comparison.html" data-bs-toggle="tooltip" title="">
                                Comparison
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-grid.html" data-bs-toggle="tooltip" title="">
                                Features Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-icon.html" data-bs-toggle="tooltip" title="">
                                Features Icon
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-list.html" data-bs-toggle="tooltip" title="">
                                Features List
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-table.html" data-bs-toggle="tooltip" title="">
                                Features Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-footer.html" data-bs-toggle="tooltip" title="">
                                Footer
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-grid.html" data-bs-toggle="tooltip" title="">
                                Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-header.html" data-bs-toggle="tooltip" title="">
                                Header
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-hero.html" data-bs-toggle="tooltip" title="">
                                Hero
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image.html" data-bs-toggle="tooltip" title="">
                                Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image-grid.html" data-bs-toggle="tooltip" title="">
                                Image Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action active" href="block-modal.html" data-bs-toggle="tooltip" title="">
                                Modal
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-offcanvas.html" data-bs-toggle="tooltip" title="">
                                Offcanvas
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-quote.html" data-bs-toggle="tooltip" title="">
                                Quote
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-scrollspy.html" data-bs-toggle="tooltip" title="">
                                Scrollspy
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-stats.html" data-bs-toggle="tooltip" title="">
                                Stats
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-steps.html" data-bs-toggle="tooltip" title="">
                                Steps
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-table.html" data-bs-toggle="tooltip" title="">
                                Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-tabs.html" data-bs-toggle="tooltip" title="">
                                Tabs
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-team.html" data-bs-toggle="tooltip" title="">
                                Team
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-testimonials.html" data-bs-toggle="tooltip" title="">
                                Testimonials
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-image.html" data-bs-toggle="tooltip" title="">
                                Text Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-video.html" data-bs-toggle="tooltip" title="">
                                Text Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-timeline.html" data-bs-toggle="tooltip" title="">
                                Timeline
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-title.html" data-bs-toggle="tooltip" title="">
                                Title
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-toast.html" data-bs-toggle="tooltip" title="">
                                Toast
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video.html" data-bs-toggle="tooltip" title="">
                                Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video-grid.html" data-bs-toggle="tooltip" title="">
                                Video Grid
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    
            <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.js"></script>
        <script src="../js/app.min.js"></script>
</body>
</html>
