<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derafu: Twig - UI Component and Extension Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.css" rel="stylesheet" />
    <link href="https://derafu.org/css/styles.min.css" rel="stylesheet" />
        <link href="../css/styles.min.css" rel="stylesheet" />
</head>
<body>
                <div id="header-container" class="sticky-top"></div>
    
            <div class="container">
            <div class="row">
                <main class="col-md-9">
                                                                                                <h1>Block Header</h1>
                            <p class="mb-4"></p>
                                            
                    


<nav class="derafu-block-header mt-0 navbar navbar-expand-lg
            "
    
    id="block-header--6845e37a0e269"
>
    <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="block-header.html">
                            <img src="../img/block-hero.jpeg" alt="Logo" style="max-width: 150px;">
                                        <span class="ms-2"><span class='fw-normal'>Soft</span><span class='fw-bold text-primary'>ware</span></span>
                    </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                <a class="nav-link" href="block-header.html#">
                                        Home
                </a>
            </li>
                                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="block-header.html#" role="button" data-bs-toggle="dropdown">
                                            <i class="fa-solid fa-cubes me-1"></i>
                                        Solutions
                </a>
                <ul class="dropdown-menu ">
                                                                        <li>
                                <a class="dropdown-item" href="block-header.html#">
                                                                            <i class="fa-solid fa-star me-1"></i>
                                                                        Basic Solution
                                </a>
                            </li>
                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                <li class="dropend">
                                <a class="dropdown-item dropdown-toggle" href="block-header.html#" role="button" data-bs-toggle="dropdown">
                                                                            <i class="fa-solid fa-rocket me-1"></i>
                                                                        Advanced Solution
                                </a>
                                <ul class="dropdown-menu submenu">
                                                                                                                        <li>
                                                <a class="dropdown-item" href="block-header.html#">
                                                                                                        Main Features
                                                </a>
                                            </li>
                                                                                                                                                                <li>
                                                <a class="dropdown-item" href="block-header.html#">
                                                                                                            <i class="fa-solid fa-chart-line me-1"></i>
                                                                                                        Analysis
                                                </a>
                                            </li>
                                                                                                                                                                <li><hr class="dropdown-divider"></li>
                                                                                                                                                                <li>
                                                <a class="dropdown-item" href="block-header.html#">
                                                                                                            <i class="fa-solid fa-book-open me-1"></i>
                                                                                                        Complete Guide
                                                </a>
                                            </li>
                                                                                                            </ul>
                            </li>
                                                            </ul>
            </li>
            
            </ul>

                        <ul class="navbar-nav">
                                        <li class="nav-item">
                <a class="nav-link" href="block-header.html#">
                                            <i class="fa-solid fa-toolbox me-1"></i>
                                        Resources
                </a>
            </li>
                                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="block-header.html#" role="button" data-bs-toggle="dropdown">
                                            <i class="fa-solid fa-plug me-1"></i>
                                        Integrations
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                                                                        <li>
                                <a class="dropdown-item" href="block-header.html#">
                                                                            <i class="fa-solid fa-desktop me-1"></i>
                                                                        Platforms
                                </a>
                            </li>
                                                                                                <li>
                                <a class="dropdown-item" href="block-header.html#">
                                                                            <i class="fa-solid fa-code me-1"></i>
                                                                        API
                                </a>
                            </li>
                                                            </ul>
            </li>
            

                                                    <li class="nav-item ms-2">
                        <a href="block-header.html#" class="btn btn-primary">
                                                            <i class="fa-solid fa-rocket me-1"></i>
                                                        Get Started
                        </a>
                    </li>
                            </ul>
        </div>
    </div>
</nav>




<nav class="derafu-block-header my-4 navbar navbar-expand-lg
            "
    
    id="block-header--6845e37a0e4c2"
>
    <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="block-header.html">
                            <img src="../img/block-hero.jpeg" alt="Logo" style="max-width: 150px;">
                                        <span class="ms-2"><span class='fw-normal'>Another</span><span class='fw-bold text-primary'>Example</span></span>
                    </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav me-auto">
                                        <li class="nav-item dropdown mega-menu-wrapper">
                <a class="nav-link dropdown-toggle" href="block-header.html#" role="button" data-bs-toggle="dropdown">
                                            <i class="fa-solid fa-shopping-cart me-1"></i>
                                        Marketplace
                </a>
                <div class="dropdown-menu mega-dropdown">
                    <div class="container">
                        <div class="mega-dropdown-header">Marketplace</div>
                        <div class="row">
                                                            <div class="col mb-4">
                                    <h6 class="dropdown-header">Technology</h6>
                                                                                                                        <a class="dropdown-item" href="block-header.html#">
                                                                                                    <i class="fa-solid fa-laptop-code me-1"></i>
                                                                                                Software
                                            </a>
                                                                                                                                                                <a class="dropdown-item" href="block-header.html#">
                                                                                                    <i class="fa-solid fa-server me-1"></i>
                                                                                                Hardware
                                            </a>
                                                                                                            </div>
                                                    </div>
                                            </div>
                </div>
            </li>
            
            </ul>

                        <ul class="navbar-nav">
                    

                                                    <li class="nav-item ms-2">
                        <a href="block-header.html#" class="btn btn-primary">
                                                        Explore
                        </a>
                    </li>
                            </ul>
        </div>
    </div>
</nav>



                                                            <div class="mt-4 mb-4">
                        <pre><code class="line-numbers language-twig">{# derafu_twig:templates/pages/components/block-header.html.twig #}

{% extends &#039;layouts/default.html.twig&#039; %}

{% block content %}

&lt;twig:block-header
    class=&quot;mt-0&quot;
    logoImage=&quot;../../img/block-hero.jpeg&quot;
    logoText=&quot;&lt;span class=&#039;fw-normal&#039;&gt;Soft&lt;/span&gt;&lt;span class=&#039;fw-bold text-primary&#039;&gt;ware&lt;/span&gt;&quot;
    :leftNav=&quot;[
        {
            text: &#039;Home&#039;,
            url: &#039;#&#039;
        },
        {
            text: &#039;Solutions&#039;,
            icon: &#039;fa-solid fa-cubes&#039;,
            items: [
                {
                    text: &#039;Basic Solution&#039;,
                    icon: &#039;fa-solid fa-star&#039;,
                    url: &#039;#&#039;
                },
                {
                    type: &#039;divider&#039;
                },
                {
                    text: &#039;Advanced Solution&#039;,
                    icon: &#039;fa-solid fa-rocket&#039;,
                    items: [
                        {
                            text: &#039;Main Features&#039;,
                            url: &#039;#&#039;
                        },
                        {
                            icon: &#039;fa-solid fa-chart-line&#039;,
                            text: &#039;Analysis&#039;,
                            url: &#039;#&#039;
                        },
                        {
                            type: &#039;divider&#039;
                        },
                        {
                            icon: &#039;fa-solid fa-book-open&#039;,
                            text: &#039;Complete Guide&#039;,
                            url: &#039;#&#039;
                        }
                    ]
                }
            ]
        }
    ]&quot;
    :rightNav=&quot;[
        {
            text: &#039;Resources&#039;,
            url: &#039;#&#039;,
            icon: &#039;fa-solid fa-toolbox&#039;
        },
        {
            text: &#039;Integrations&#039;,
            icon: &#039;fa-solid fa-plug&#039;,
            items: [
                {
                    text: &#039;Platforms&#039;,
                    icon: &#039;fa-solid fa-desktop&#039;,
                    url: &#039;#&#039;
                },
                {
                    text: &#039;API&#039;,
                    icon: &#039;fa-solid fa-code&#039;,
                    url: &#039;#&#039;
                }
            ]
        }
    ]&quot;
    ctaIcon=&quot;fa-solid fa-rocket&quot;
    ctaText=&quot;Get Started&quot;
    ctaUrl=&quot;#&quot;
/&gt;

&lt;twig:block-header
    class=&quot;my-4&quot;
    logoImage=&quot;../../img/block-hero.jpeg&quot;
    logoText=&quot;&lt;span class=&#039;fw-normal&#039;&gt;Another&lt;/span&gt;&lt;span class=&#039;fw-bold text-primary&#039;&gt;Example&lt;/span&gt;&quot;
    :leftNav=&quot;[
        {
            text: &#039;Marketplace&#039;,
            icon: &#039;fa-solid fa-shopping-cart&#039;,
            sections: [
                {
                    title: &#039;Technology&#039;,
                    links: [
                        {
                            text: &#039;Software&#039;,
                            url: &#039;#&#039;,
                            icon: &#039;fa-solid fa-laptop-code&#039;
                        },
                        {
                            text: &#039;Hardware&#039;,
                            url: &#039;#&#039;,
                            icon: &#039;fa-solid fa-server&#039;
                        }
                    ]
                }
            ]
        }
    ]&quot;
    ctaText=&quot;Explore&quot;
    ctaUrl=&quot;#&quot;
/&gt;

{% endblock %}
</code></pre>
                    </div>
                                    </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/twig" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/twig
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/twig" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/twig" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../index.html">
                            README
                        </a>
                    </div>

                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Themes</div>
                              <span class="smal text-muted">Color Palettes</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">1</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../themes.html">
                            Predefined Themes
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Components</div>
                              <span class="smal text-muted">Blocks</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">35</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../components.html">
                            All the Components
                        </a>
                                                    <a class="list-group-item list-group-item-action " href="block-accordion.html" data-bs-toggle="tooltip" title="">
                                Accordion
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-alert.html" data-bs-toggle="tooltip" title="">
                                Alert
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-boxes.html" data-bs-toggle="tooltip" title="">
                                Big Boxes
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-box.html" data-bs-toggle="tooltip" title="">
                                Box
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-cta.html" data-bs-toggle="tooltip" title="">
                                CTA
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card.html" data-bs-toggle="tooltip" title="">
                                Card
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card-grid.html" data-bs-toggle="tooltip" title="">
                                Card Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-comparison.html" data-bs-toggle="tooltip" title="">
                                Comparison
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-grid.html" data-bs-toggle="tooltip" title="">
                                Features Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-icon.html" data-bs-toggle="tooltip" title="">
                                Features Icon
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-list.html" data-bs-toggle="tooltip" title="">
                                Features List
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-table.html" data-bs-toggle="tooltip" title="">
                                Features Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-footer.html" data-bs-toggle="tooltip" title="">
                                Footer
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-grid.html" data-bs-toggle="tooltip" title="">
                                Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action active" href="block-header.html" data-bs-toggle="tooltip" title="">
                                Header
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-hero.html" data-bs-toggle="tooltip" title="">
                                Hero
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image.html" data-bs-toggle="tooltip" title="">
                                Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image-grid.html" data-bs-toggle="tooltip" title="">
                                Image Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-modal.html" data-bs-toggle="tooltip" title="">
                                Modal
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-offcanvas.html" data-bs-toggle="tooltip" title="">
                                Offcanvas
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-quote.html" data-bs-toggle="tooltip" title="">
                                Quote
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-scrollspy.html" data-bs-toggle="tooltip" title="">
                                Scrollspy
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-stats.html" data-bs-toggle="tooltip" title="">
                                Stats
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-steps.html" data-bs-toggle="tooltip" title="">
                                Steps
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-table.html" data-bs-toggle="tooltip" title="">
                                Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-tabs.html" data-bs-toggle="tooltip" title="">
                                Tabs
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-team.html" data-bs-toggle="tooltip" title="">
                                Team
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-testimonials.html" data-bs-toggle="tooltip" title="">
                                Testimonials
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-image.html" data-bs-toggle="tooltip" title="">
                                Text Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-video.html" data-bs-toggle="tooltip" title="">
                                Text Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-timeline.html" data-bs-toggle="tooltip" title="">
                                Timeline
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-title.html" data-bs-toggle="tooltip" title="">
                                Title
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-toast.html" data-bs-toggle="tooltip" title="">
                                Toast
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video.html" data-bs-toggle="tooltip" title="">
                                Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video-grid.html" data-bs-toggle="tooltip" title="">
                                Video Grid
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    
            <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.js"></script>
        <script src="../js/app.min.js"></script>
</body>
</html>
