<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derafu: Twig - UI Component and Extension Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.css" rel="stylesheet" />
    <link href="https://derafu.org/css/styles.min.css" rel="stylesheet" />
        <link href="../css/styles.min.css" rel="stylesheet" />
</head>
<body>
                <div id="header-container" class="sticky-top"></div>
    
            <div class="container">
            <div class="row">
                <main class="col-md-9">
                                                                                                <h1>Block Comparison</h1>
                            <p class="mb-4"></p>
                                            
                    

<div class="derafu-block-comparison my-4"  id="block-comparison--6845e379650f0">
    <div class="row g-4">
                    <div class="col-12 col-lg-4
                ">

                <div class="derafu-block-comparison__plan ">
                                        <div class="derafu-block-comparison__title-section ">
                        <h3 class="derafu-block-comparison__title">Alpha Plan</h3>
                    </div>

                                        <div class="derafu-block-comparison__price-section">
                        <div class="derafu-block-comparison__price">
                                                            $20<small>.000</small>
                                                    </div>
                                                    <div class="derafu-block-comparison__period">/month</div>
                                            </div>

                                        <div class="derafu-block-comparison__features">
                                                    <div class="derafu-block-comparison__feature"
                                                                        title="Monthly limit for issuing or synchronizing electronic honorarium receipts (EHR)."
                                                                >
                                                                <span class="derafu-block-comparison__text">Up to <b>500</b> monthly receipts</span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                    <i class="fa-solid fa-times-circle text-danger"></i>
                                                                <span class="derafu-block-comparison__text">Allows other users</span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                    <i class="fa-solid fa-check-circle text-success"></i>
                                                                <span class="derafu-block-comparison__text">API issuance</span>
                            </div>
                                            </div>

                                        <div class="derafu-block-comparison__footer">
                                                    <div class="derafu-block-comparison__note">Recommended for accountants or doctors.</div>
                                                <a href="https://www.example.com/" class="derafu-block-comparison__button">
                            Sign up
                        </a>
                    </div>
                </div>
            </div>
                    <div class="col-12 col-lg-4
                ">

                <div class="derafu-block-comparison__plan derafu-block-comparison__plan--highlighted">
                                        <div class="derafu-block-comparison__title-section derafu-block-comparison__title-section--highlighted">
                        <h3 class="derafu-block-comparison__title">Beta Plan</h3>
                    </div>

                                        <div class="derafu-block-comparison__price-section">
                        <div class="derafu-block-comparison__price">
                                                            $40<small>.000</small>
                                                    </div>
                                                    <div class="derafu-block-comparison__period">/month</div>
                                            </div>

                                        <div class="derafu-block-comparison__features">
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Up to <b>2,000</b> monthly receipts</span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Up to <b>2 users</b> can work with the issuer</span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                    <i class="fa-solid fa-check-circle text-success"></i>
                                                                <span class="derafu-block-comparison__text">API issuance</span>
                            </div>
                                            </div>

                                        <div class="derafu-block-comparison__footer">
                                                    <div class="derafu-block-comparison__note">Recommended for professional societies.</div>
                                                <a href="https://www.example.com/" class="derafu-block-comparison__button">
                            Sign up
                        </a>
                    </div>
                </div>
            </div>
                    <div class="col-12 col-lg-4
                ">

                <div class="derafu-block-comparison__plan ">
                                        <div class="derafu-block-comparison__title-section ">
                        <h3 class="derafu-block-comparison__title">Gamma</h3>
                    </div>

                                        <div class="derafu-block-comparison__price-section">
                        <div class="derafu-block-comparison__price">
                                                            $ 80<small>.000</small>
                                                    </div>
                                                    <div class="derafu-block-comparison__period">/ month</div>
                                            </div>

                                        <div class="derafu-block-comparison__features">
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Up to <b>5,000</b> monthly receipts</span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Up to <b>3 users</b> can work with the issuer</span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                    <i class="fa-solid fa-check-circle text-success"></i>
                                                                <span class="derafu-block-comparison__text">API issuance</span>
                            </div>
                                            </div>

                                        <div class="derafu-block-comparison__footer">
                                                    <div class="derafu-block-comparison__note">Recommended for notaries.</div>
                                                <a href="https://www.example.com/" class="derafu-block-comparison__button">
                            Sign up
                        </a>
                    </div>
                </div>
            </div>
            </div>

        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tooltipTriggerList = [].slice.call(document.querySelectorAll('[title]'));
            tooltipTriggerList.map(function(tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>
</div>



<div class="derafu-block-comparison my-4"  id="block-comparison--6845e37965257">
    <div class="row g-4">
                    <div class="col-12 col-lg-6
                ">

                <div class="derafu-block-comparison__plan ">
                                        <div class="derafu-block-comparison__title-section ">
                        <h3 class="derafu-block-comparison__title">Android</h3>
                    </div>

                                        <div class="derafu-block-comparison__price-section">
                        <div class="derafu-block-comparison__price">
                                                                <i class="fa-brands fa-android fa-2x"></i>
                                                    </div>
                                            </div>

                                        <div class="derafu-block-comparison__features">
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Use the application with multiple <a href='https://www.example.com/' target='_blank'>companies</a></span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Issue receipts, invoices and shipping guides</span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Easy receipt and retail point of sale</span>
                            </div>
                                            </div>

                                        <div class="derafu-block-comparison__footer">
                                                    <div class="derafu-block-comparison__note">Turn your Android device into a Point of Sale.</div>
                                                <a href="block-comparison.html#" class="derafu-block-comparison__button">
                            Install from Google Play up to Android 9
                        </a>
                    </div>
                </div>
            </div>
                    <div class="col-12 col-lg-6
                ">

                <div class="derafu-block-comparison__plan derafu-block-comparison__plan--highlighted">
                                        <div class="derafu-block-comparison__title-section derafu-block-comparison__title-section--highlighted">
                        <h3 class="derafu-block-comparison__title">iOS</h3>
                    </div>

                                        <div class="derafu-block-comparison__price-section">
                        <div class="derafu-block-comparison__price">
                                                                <i class="fa-brands fa-apple fa-2x"></i>
                                                    </div>
                                            </div>

                                        <div class="derafu-block-comparison__features">
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Use the application with multiple companies</span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Issue receipts, invoices and shipping guides</span>
                            </div>
                                                    <div class="derafu-block-comparison__feature"
                                                                >
                                                                <span class="derafu-block-comparison__text">Easy receipt and retail point of sale</span>
                            </div>
                                            </div>

                                        <div class="derafu-block-comparison__footer">
                                                    <div class="derafu-block-comparison__note">Check your company and issue tax documents easily.</div>
                                                <a href="block-comparison.html#" class="derafu-block-comparison__button">
                            Install from App Store
                        </a>
                    </div>
                </div>
            </div>
            </div>

        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tooltipTriggerList = [].slice.call(document.querySelectorAll('[title]'));
            tooltipTriggerList.map(function(tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>
</div>



                                                            <div class="mt-4 mb-4">
                        <pre><code class="line-numbers language-twig">{# derafu_twig:templates/pages/components/block-comparison.html.twig #}

{% extends &#039;layouts/default.html.twig&#039; %}

{% block content %}

&lt;twig:block-comparison
    class=&quot;my-4&quot;
    :plans=&quot;[
        {
            title: &#039;Alpha Plan&#039;,
            price: &#039;$20&lt;small&gt;.000&lt;/small&gt;&#039;,
            period: &#039;/month&#039;,
            features: [
                {
                    text: &#039;Up to &lt;b&gt;500&lt;/b&gt; monthly receipts&#039;,
                    tooltip: &#039;Monthly limit for issuing or synchronizing electronic honorarium receipts (EHR).&#039;
                },
                {
                    text: &#039;Allows other users&#039;,
                    value: false
                },
                {
                    text: &#039;API issuance&#039;,
                    value: true
                }
            ],
            note: &#039;Recommended for accountants or doctors.&#039;,
            buttonText: &#039;Sign up&#039;,
            buttonUrl: &#039;https://www.example.com/&#039;
        },
        {
            title: &#039;Beta Plan&#039;,
            price: &#039;$40&lt;small&gt;.000&lt;/small&gt;&#039;,
            period: &#039;/month&#039;,
            features: [
                {
                    text: &#039;Up to &lt;b&gt;2,000&lt;/b&gt; monthly receipts&#039;
                },
                {
                    text: &#039;Up to &lt;b&gt;2 users&lt;/b&gt; can work with the issuer&#039;
                },
                {
                    text: &#039;API issuance&#039;,
                    value: true
                }
            ],
            note: &#039;Recommended for professional societies.&#039;,
            buttonText: &#039;Sign up&#039;,
            buttonUrl: &#039;https://www.example.com/&#039;,
            highlighted: true
        },
        {
            title: &#039;Gamma&#039;,
            price: &#039;$ 80&lt;small&gt;.000&lt;/small&gt;&#039;,
            period: &#039;/ month&#039;,
            features: [
                {
                    text: &#039;Up to &lt;b&gt;5,000&lt;/b&gt; monthly receipts&#039;
                },
                {
                    text: &#039;Up to &lt;b&gt;3 users&lt;/b&gt; can work with the issuer&#039;
                },
                {
                    text: &#039;API issuance&#039;,
                    value: true
                }
            ],
            note: &#039;Recommended for notaries.&#039;,
            buttonText: &#039;Sign up&#039;,
            buttonUrl: &#039;https://www.example.com/&#039;
        }
    ]&quot;
/&gt;

&lt;twig:block-comparison
    class=&quot;my-4&quot;
    :plans=&quot;[
        {
            title: &#039;Android&#039;,
            priceIcon: &#039;fa-brands fa-android fa-2x&#039;,
            features: [
                {
                    text: &#039;Use the application with multiple &lt;a href=\&#039;https://www.example.com/\&#039; target=\&#039;_blank\&#039;&gt;companies&lt;/a&gt;&#039;
                },
                {
                    text: &#039;Issue receipts, invoices and shipping guides&#039;
                },
                {
                    text: &#039;Easy receipt and retail point of sale&#039;
                }
            ],
            note: &#039;Turn your Android device into a Point of Sale.&#039;,
            buttonText: &#039;Install from Google Play up to Android 9&#039;,
            buttonUrl: &#039;#&#039;
        },
        {
            title: &#039;iOS&#039;,
            priceIcon: &#039;fa-brands fa-apple fa-2x&#039;,
            features: [
                {
                    text: &#039;Use the application with multiple companies&#039;
                },
                {
                    text: &#039;Issue receipts, invoices and shipping guides&#039;
                },
                {
                    text: &#039;Easy receipt and retail point of sale&#039;
                }
            ],
            note: &#039;Check your company and issue tax documents easily.&#039;,
            buttonText: &#039;Install from App Store&#039;,
            buttonUrl: &#039;#&#039;,
            highlighted: true
        }
    ]&quot;
/&gt;

{% endblock %}
</code></pre>
                    </div>
                                    </main>
                <div class="col-md-3 py-4">
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Package Info</div>
                                <span class="smal text-muted">
                                    <a href="https://github.com/derafu/twig" target="_blank" class="link-secondary text-decoration-none">
                                        <i class="fa-brands fa-github"></i>
                                        derafu/twig
                                    </a>
                                </span>
                                <div class="my-2">
                                    <img src="https://img.shields.io/github/stars/derafu/twig" alt="GitHub Repo stars">
                                    <img src="https://img.shields.io/github/forks/derafu/twig" alt="GitHub forks">
                                </div>
                            </div>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../index.html">
                            README
                        </a>
                    </div>

                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Themes</div>
                              <span class="smal text-muted">Color Palettes</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">1</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../themes.html">
                            Predefined Themes
                        </a>
                    </div>
                    <div class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Components</div>
                              <span class="smal text-muted">Blocks</span>
                            </div>
                            <span class="badge text-bg-primary rounded-pill mt-3">35</span>
                        </li>
                        <a class="list-group-item list-group-item-action " href="../components.html">
                            All the Components
                        </a>
                                                    <a class="list-group-item list-group-item-action " href="block-accordion.html" data-bs-toggle="tooltip" title="">
                                Accordion
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-alert.html" data-bs-toggle="tooltip" title="">
                                Alert
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-boxes.html" data-bs-toggle="tooltip" title="">
                                Big Boxes
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-box.html" data-bs-toggle="tooltip" title="">
                                Box
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-cta.html" data-bs-toggle="tooltip" title="">
                                CTA
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card.html" data-bs-toggle="tooltip" title="">
                                Card
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-card-grid.html" data-bs-toggle="tooltip" title="">
                                Card Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action active" href="block-comparison.html" data-bs-toggle="tooltip" title="">
                                Comparison
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-grid.html" data-bs-toggle="tooltip" title="">
                                Features Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-icon.html" data-bs-toggle="tooltip" title="">
                                Features Icon
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-list.html" data-bs-toggle="tooltip" title="">
                                Features List
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-features-table.html" data-bs-toggle="tooltip" title="">
                                Features Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-footer.html" data-bs-toggle="tooltip" title="">
                                Footer
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-grid.html" data-bs-toggle="tooltip" title="">
                                Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-header.html" data-bs-toggle="tooltip" title="">
                                Header
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-hero.html" data-bs-toggle="tooltip" title="">
                                Hero
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image.html" data-bs-toggle="tooltip" title="">
                                Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-image-grid.html" data-bs-toggle="tooltip" title="">
                                Image Grid
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-modal.html" data-bs-toggle="tooltip" title="">
                                Modal
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-offcanvas.html" data-bs-toggle="tooltip" title="">
                                Offcanvas
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-quote.html" data-bs-toggle="tooltip" title="">
                                Quote
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-scrollspy.html" data-bs-toggle="tooltip" title="">
                                Scrollspy
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-stats.html" data-bs-toggle="tooltip" title="">
                                Stats
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-steps.html" data-bs-toggle="tooltip" title="">
                                Steps
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-table.html" data-bs-toggle="tooltip" title="">
                                Table
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-tabs.html" data-bs-toggle="tooltip" title="">
                                Tabs
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-team.html" data-bs-toggle="tooltip" title="">
                                Team
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-testimonials.html" data-bs-toggle="tooltip" title="">
                                Testimonials
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-image.html" data-bs-toggle="tooltip" title="">
                                Text Image
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-text-video.html" data-bs-toggle="tooltip" title="">
                                Text Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-timeline.html" data-bs-toggle="tooltip" title="">
                                Timeline
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-title.html" data-bs-toggle="tooltip" title="">
                                Title
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-toast.html" data-bs-toggle="tooltip" title="">
                                Toast
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video.html" data-bs-toggle="tooltip" title="">
                                Video
                            </a>
                                                    <a class="list-group-item list-group-item-action " href="block-video-grid.html" data-bs-toggle="tooltip" title="">
                                Video Grid
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    
            <div id="footer-container"></div>
        <script src="https://derafu.org/js/derafu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/command-line/prism-command-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/match-braces/prism-match-braces.min.js"></script>
        <script src="../js/app.min.js"></script>
</body>
</html>
