/* Base CSS */

/* Import base CSS from derafu/twig package */
@import 'derafu-twig.css';

table.predefined-themes {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}
table.predefined-themes th, td {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
table.predefined-themes .color-box {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid black;
}
