.block-alert .alert-primary,
.block-alert .alert-warning,
.block-alert .alert-danger,
.block-alert .alert-success {
    position: relative;
    padding-left: 3rem;
}

.block-alert .alert-primary .fa-house {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 24px;
    height: 24px;
    background: var(--bs-primary);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}

.block-alert .alert-warning .fa-triangle-exclamation {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 24px;
    height: 24px;
    background: var(--alert-text-primary-color);
    color: var(--bs-alert-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}

.block-alert .alert-danger .fa-circle-exclamation {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 24px;
    height: 24px;
    background: var(--bs-danger);
    color: var(--bs-alert-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}

.block-alert .alert-success .fa-check {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 24px;
    height: 24px;
    background: var(--bs-success);
    color: var(--bs-alert-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}