.derafu-block-box {
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.75rem;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
}

.derafu-block-box__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.derafu-block-box__content {
    margin-top: 0.5rem;
    line-height: 1.6;
}
