{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="mb-4 border-bottom">Page Not Found</h1>
    <i class="fa-regular fa-face-frown fa-5x"></i>
</div>
{% endblock %}
