{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4 border-bottom">
        {% block title %}Derafu Twig: Themes{% endblock %}
    </h1>
    <ul class="list-group mb-4">
        <li class="list-group-item">
            <a href="{{ base_path }}/demo/themes/predefined">
                Predefined Themes
            </a>
        </li>
    </ul>
</div>
{% endblock %}
