{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% for theme, name in themes %}
        <twig:block-card
            image="../../../assets/img/block-hero.jpeg"
            title="Theme: {{ name }}"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            buttonText="More..."
            buttonUrl="https://www.example.com"
            theme="{{ theme }}"
        />
    {% endfor %}
</div>
{% endblock %}
