{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {# Modal simple #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-1">
        Abrir Modal Simple
    </button>
    <twig:block-modal
        id="modal-1"
        title="T칤tulo del Modal"
        content="<p>Este es un modal b치sico con t칤tulo y bot칩n de cerrar.</p>"
        :buttons="[
            {
                text: 'Cerrar',
                type: 'secondary',
                dismiss: true
            },
            {
                text: 'Guardar Cambios',
                type: 'primary'
            }
        ]"
    />

    {# Modal m치s complejo #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-2">
        Abrir Modal Complejo
    </button>
    <twig:block-modal
        id="modal-2"
        title="Confirmaci칩n Requerida"
        content="<p>Esta acci칩n no se puede deshacer. 쮼st치s seguro de que deseas continuar?</p>"
        size="lg"
        centered="true"
        staticBackdrop="true"
        :buttons="[
            {
                text: 'Cancelar',
                type: 'light',
                dismiss: true
            },
            {
                text: 'S칤, continuar',
                type: 'danger',
                attributes: 'onclick=\'handleConfirmation()\''
            }
        ]"
    />

    {# Modal fullscreen con contenido scrollable #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-3">
        Abrir Modal fullscreen con contenido scrollable
    </button>
    <twig:block-modal
        id="modal-3"
        title="T칠rminos y Condiciones"
        content="<div style='height: 1000px'>Contenido muy largo...</div>"
        size="fullscreen"
        scrollable="true"
        :buttons="[
            {
                text: 'Aceptar',
                type: 'success'
            }
        ]"
    />

    {# Modal b치sico #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-basic">
        Abrir Modal B치sico
    </button>

    <twig:block-modal
        id="modal-basic"
        title="Modal B치sico"
        content="<p>Este es un modal simple con t칤tulo y bot칩n de cerrar.</p>"
        :buttons="[
            {
                text: 'Cerrar',
                type: 'secondary',
                dismiss: true
            }
        ]"
    />

    {# Modal sin bot칩n de cerrar #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-no-close">
        Modal sin X
    </button>

    <twig:block-modal
        id="modal-no-close"
        title="No puedes cerrarme f치cilmente"
        content="<p>Este modal no tiene el bot칩n X para cerrar.</p>"
        :showClose="false"
        :buttons="[
            {
                text: 'Entendido',
                type: 'warning',
                dismiss: true
            }
        ]"
    />

    {# Modal Static Backdrop #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-static">
        Modal que no se Cierra
    </button>

    <twig:block-modal
        id="modal-static"
        title="Debes tomar una decisi칩n"
        content="<p>Este modal no se cerrar치 al hacer clic fuera de 칠l. Debes usar uno de los botones.</p>"
        staticBackdrop="true"
        :buttons="[
            {
                text: 'Cancelar',
                type: 'light',
                dismiss: true
            },
            {
                text: 'Aceptar',
                type: 'danger',
                dismiss: true
            }
        ]"
    />

    {# Modal Centrado con Tama침o Small #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-sm-centered">
        Modal SM Centrado
    </button>

    <twig:block-modal
        id="modal-sm-centered"
        title="Peque침o y Centrado"
        content="<p>Un modal peque침o y centrado verticalmente.</p>"
        size="sm"
        centered="true"
        :buttons="[
            {
                text: 'OK',
                type: 'info',
                dismiss: true
            }
        ]"
    />

    {# Modal Grande con Scroll #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-lg-scroll">
        Modal Grande con Scroll
    </button>

    <twig:block-modal
        id="modal-lg-scroll"
        title="T칠rminos y Condiciones"
        content="<div>
            <h4>1. Introducci칩n</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <h4>2. Uso del Servicio</h4>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
            <h4>3. Privacidad</h4>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco...</p>
            <h4>4. T칠rminos Legales</h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit...</p>
            <h4>5. Modificaciones</h4>
            <p>Excepteur sint occaecat cupidatat non proident...</p>
            <!-- Repetir contenido para demostrar scroll -->
        </div>"
        size="lg"
        scrollable="true"
        :buttons="[
            {
                text: 'Rechazar',
                type: 'light',
                dismiss: true
            },
            {
                text: 'Aceptar T칠rminos',
                type: 'success',
                dismiss: true
            }
        ]"
    />

    {# Modal Extra Large con Formulario #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-xl-form">
        Formulario en Modal XL
    </button>

    <twig:block-modal
        id="modal-xl-form"
        title="Registro de Usuario"
        content="<form id='userForm'>
            <div class='row'>
                <div class='col-md-6 mb-3'>
                    <label for='firstName' class='form-label'>Nombre</label>
                    <input type='text' class='form-control' id='firstName' required>
                </div>
                <div class='col-md-6 mb-3'>
                    <label for='lastName' class='form-label'>Apellido</label>
                    <input type='text' class='form-control' id='lastName' required>
                </div>
            </div>
            <div class='mb-3'>
                <label for='email' class='form-label'>Email</label>
                <input type='email' class='form-control' id='email' required>
            </div>
            <div class='mb-3'>
                <label for='password' class='form-label'>Contrase침a</label>
                <input type='password' class='form-control' id='password' required>
            </div>
        </form>"
        size="xl"
        centered="true"
        :buttons="[
            {
                text: 'Cancelar',
                type: 'secondary',
                dismiss: true
            },
            {
                text: 'Registrar',
                type: 'dark',
                attributes: 'onclick=&quot;document.getElementById(\'userForm\').submit()&quot;'
            }
        ]"
    />

    {# Modal Fullscreen #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-fullscreen">
        Ver en Pantalla Completa
    </button>

    <twig:block-modal
        id="modal-fullscreen"
        title="Modo Pantalla Completa"
        content="<div class='text-center'>
            <h1 class='display-1'>游녦</h1>
            <p class='lead'>Este modal ocupa toda la pantalla</p>
            <hr>
            <p>Perfecto para contenido inmersivo o cuando necesitas mostrar mucha informaci칩n.</p>
        </div>"
        size="fullscreen"
        :buttons="[
            {
                text: 'Salir',
                type: 'outline-primary',
                dismiss: true
            }
        ]"
    />

    {# Modal sin Footer #}
    <button type="button" class="btn btn-light d-block mb-2" data-bs-toggle="modal" data-bs-target="#modal-no-footer">
        Modal sin Footer
    </button>

    <twig:block-modal
        id="modal-no-footer"
        title="Solo Contenido"
        content="<p>Este modal no tiene botones en el footer, solo el bot칩n de cerrar en el header.</p>"
    />
</div>
{% endblock %}
