{% extends 'base.html.twig' %}

{% block body %}
<twig:block-video
    :video="[
        {
            title: '¿Pierdes tiempo facturando a mano?',
            video: 'https://www.youtube.com/watch?v=v96l-cezK8I',
            description: '<p>BillMySales se encarga de procesar los pedidos de la tienda y pasarlos a tu facturador favorito. Así te puedes concentrar en vender y <b>hacer crecer tu negocio</b>.</p>',
            buttons: [
                {
                    text: '¡Regístrate GRATIS!',
                    url: 'https://www.billmysales.com'
                }
            ],
            size: 'normal',
            align: 'center'
        }
    ]"
/>

<twig:block-video
    :video="[
        {
            title: '¿Pierdes tiempo facturando a mano?',
            video: 'https://www.youtube.com/watch?v=v96l-cezK8I',
            description: '<p>BillMySales se encarga de procesar los pedidos de la tienda y pasarlos a tu facturador favorito. Así te puedes concentrar en vender y <b>hacer crecer tu negocio</b>.</p>',
            buttons: [
                {
                    text: '¡Regístrate GRATIS!',
                    url: 'https://www.billmysales.com'
                }
            ],
            size: 'small',
            align: 'center'
        }
    ]"
    theme="ocean-mystic"
/>
{% endblock %}
