{% extends 'base.html.twig' %}

{% block body %}

{% set grid_item_1 %}
    <h2>Item 1</h2>
    <p>Descripción...</p>
{% endset %}

{% set grid_item_2 %}
    <twig:block-image
        title="¿Qué es Twig?"
        image="{{ base_path }}/assets/img/block-hero.jpeg"
        description="<p>Una ramita.</p>"
        :buttons="[
            {
                text: 'Aprende sobre Twig',
                url: 'https://twig.symfony.com/'
            }
        ]"
    />
{% endset %}

<twig:block-grid
    :items="[
        grid_item_1,
        grid_item_2,
    ]"
/>

<twig:block-grid
    cols="4"
    :items="[
        grid_item_1,
        grid_item_2,
    ]"
/>
{% endblock %}
