{% extends 'base.html.twig' %}

{% block body %}
<twig:block-text-image
    title="Te ayudamos a simplificar tu facturación"
    content="<p>La mejor manera de ahorrar tiempo es no desperdiciarlo en tareas rutinarias. Te ofrecemos una plataforma que te permitirá agilizar la emisión de tus <strong>boletas</strong> y <strong>facturas</strong>.</p>
             <p>Somos la primera solución de facturación electrónica libre para Chile. Con LibreDTE podrás administrar múltiples empresas desde tu cuenta.</p>"
    :buttons="[
        {
            text: 'Conoce más',
            url: 'https://www.libredte.cl'
        },
        {
            text: 'Solicita un período de prueba GRATIS',
            url: 'https://www.libredte.cl/trial'
        }
    ]"
    image="{{ base_path }}/assets/img/block-text-image.png"
/>
<twig:block-text-image
    title="Te ayudamos a simplificar tu facturación"
    content="<p>La mejor manera de ahorrar tiempo es no desperdiciarlo en tareas rutinarias. Te ofrecemos una plataforma que te permitirá agilizar la emisión de tus <strong>boletas</strong> y <strong>facturas</strong>.</p>
             <p>Somos la primera solución de facturación electrónica libre para Chile. Con LibreDTE podrás administrar múltiples empresas desde tu cuenta.</p>"
    :buttons="[
        {
            text: 'Conoce más',
            url: 'https://www.libredte.cl'
        },
        {
            text: 'Solicita un período de prueba GRATIS',
            url: 'https://www.libredte.cl/trial'
        }
    ]"
    image="{{ base_path }}/assets/img/block-text-image.png"
    image_position="left"
    theme="earthstone"
/>
{% endblock %}
