{% extends 'base.html.twig' %}

{% block body %}
<twig:block-text-video
    title="​¿Pierdes tiempo facturando a mano?"
    content="<p>BillMySales se encarga de procesar los pedidos de la tienda y pasarlos a tu facturador favorito. Así te puedes concentrar en vender y <b>hacer crecer tu negocio</b>.</p>"
    :buttons="[
        {
            text: '¡Regístrate GRATIS!',
            url: 'https://www.billmysales.com'
        }
    ]"
    video_url="https://www.youtube.com/watch?v=v96l-cezK8I"
/>
<twig:block-text-video
    title="​¿Pierdes tiempo facturando a mano?"
    content="<p>BillMySales se encarga de procesar los pedidos de la tienda y pasarlos a tu facturador favorito. Así te puedes concentrar en vender y <b>hacer crecer tu negocio</b>.</p>"
    :buttons="[
        {
            text: '¡Regístrate GRATIS!',
            url: 'https://www.billmysales.com'
        }
    ]"
    video_url="https://www.youtube.com/watch?v=v96l-cezK8I"
    video_position="left"
    theme="ocean-mystic"
/>
{% endblock %}
