{% extends 'base.html.twig' %}

{% block body %}
<twig:block-steps
    :steps="[
        {
            icon: 'fa-solid fa-list',
            title: 'Set de pruebas',
            description: 'Se envían al <a href=\'https://www.sii.cl/factura_electronica/factura_mercado/menu_certificacion.html\' target=\'_blank\'>SII</a> los DTE estándares que ellos piden validar del set solicitado.'
        },
        {
            icon: 'fa-solid fa-file-lines',
            title: 'Simulación',
            description: 'Se envían al SII ejemplos de DTE reales que la empresa emitirá en producción.'
        },
        {
            icon: 'fa-solid fa-arrows-left-right',
            title: 'Intercambio',
            description: 'Se envían al SII los XML asociados a la respuesta a un intercambio de DTE.'
        },
        {
            icon: 'fa-solid fa-file-pdf',
            title: 'Muestras de PDF',
            description: 'Se envían al SII los PDF de todos los DTE del set de pruebas y simulación.'
        }
    ]"
    arrow_type="straight"
/>
<twig:block-steps
    :steps="[
        {
            icon: 'fa-solid fa-list',
            title: 'Set de pruebas',
            description: 'Se envían al <a href=\'https://www.sii.cl/factura_electronica/factura_mercado/menu_certificacion.html\' target=\'_blank\'>SII</a> los DTE estándares que ellos piden validar del set solicitado.'
        },
        {
            icon: 'fa-solid fa-file-lines',
            title: 'Simulación',
            description: 'Se envían al SII ejemplos de DTE reales que la empresa emitirá en producción.'
        },
        {
            icon: 'fa-solid fa-arrows-left-right',
            title: 'Intercambio',
            description: 'Se envían al SII los XML asociados a la respuesta a un intercambio de DTE.'
        },
        {
            icon: 'fa-solid fa-file-pdf',
            title: 'Muestras de PDF',
            description: 'Se envían al SII los PDF de todos los DTE del set de pruebas y simulación.'
        }
    ]"
/>
<twig:block-steps
    :steps="[
        {
            icon: 'fa-solid fa-list',
            title: 'Set de pruebas',
            description: 'Se envían al <a href=\'https://www.sii.cl/factura_electronica/factura_mercado/menu_certificacion.html\' target=\'_blank\'>SII</a> los DTE estándares que ellos piden validar del set solicitado.'
        },
        {
            icon: 'fa-solid fa-arrows-left-right',
            title: 'Intercambio',
            description: 'Se envían al SII los XML asociados a la respuesta a un intercambio de DTE.'
        },
        {
            icon: 'fa-solid fa-file-pdf',
            title: 'Muestras de PDF',
            description: 'Se envían al SII los PDF de todos los DTE del set de pruebas y simulación.'
        }
    ]"
    arrow_type="straight"
/>
<twig:block-steps
    :steps="[
        {
            icon: 'fa-solid fa-list',
            title: 'Set de pruebas',
            description: 'Se envían al <a href=\'https://www.sii.cl/factura_electronica/factura_mercado/menu_certificacion.html\' target=\'_blank\'>SII</a> los DTE estándares que ellos piden validar del set solicitado.'
        },
        {
            icon: 'fa-solid fa-arrows-left-right',
            title: 'Intercambio',
            description: 'Se envían al SII los XML asociados a la respuesta a un intercambio de DTE.'
        },
        {
            icon: 'fa-solid fa-file-pdf',
            title: 'Muestras de PDF',
            description: 'Se envían al SII los PDF de todos los DTE del set de pruebas y simulación.'
        }
    ]"
/>
{% endblock %}
