{# templates/components/block-box.html.twig #}
<div class="derafu-block-box {{ style }}" id="{{ id }}">
    <h3 class="derafu-block-box__title">{{ title }}</h3>
    <div class="derafu-block-box__content">{{ content }}</div>
</div>
